- if message.done?
  %div 已通过
- elsif message.ignored?
  %div 已忽略
- else
  %div
    %a{href: "/messages/#{message.id}/doing", data: { widget: "rest", md: "put",
      callback: "replace", parent: "operation" }} 通过
  %div
    %a{href: "/messages/#{message.id}/ignore", data: { widget: "rest", md: "put",
      callback: "replace", parent: "operation" }} 忽略
