- if message.done?
  %div 已通过
- elsif message.ignored?
  %div 已忽略
- else
  %div
    %a{href: messages_doing_path(message), data: { widget: "rest", md: "put",
      callback: "replace", parent: "_operation" }} 通过
  %div
    %a{href: messages_ignore_path(message), data: { widget: "rest", md: "put",
      callback: "replace", parent: "_operation" }} 忽略
