.message{class: (message.unread? ? "new" : "")}
  ._avatar
    %a{href: blog_path(message.sender.primary_blog)}<
      =image_tag message.sender.icon.url_for :medium
  ._operation
    = render partial: message.type+"_oper", locals: {message: message}
  ._content
    = render partial: message.type+"_content", locals: {message: message}
