- @sub_title = @nav_user_title = '消息'
- content_for :title, @sub_title
- css 'messages'

- if @unread_count > 0
  - content_for :nav_user_append, do
    = %(共#{@unread_count}条新消息)

.middle_box.messages
  = render @messages
  = pagination @messages
