- @sub_title = @nav_user_title = '我的消息'
- content_for :title, @sub_title

- if @unread_count > 0
  - content_for :nav_user_append, do
    = %(共#{@unread_count}条新消息)

.list_box.messages
  %ul
    = render @messages
  = pagination @messages
