# System
.DS_Store

# Editors
*.sw[op]
*~

# Everything else
.bundle
db/*.sqlite3
log/*
*.log
tmp/**/*
tmp/*
doc/api
doc/app
.autotest
.watchr
/public/assets/*

/public/stylesheets/*.css
.sass-cache
/TAGS
