%li.member
  .avatar_60
    .z_image{style: "background-image:url(#{editor.icon.url_for(:medium)})"}<
      %a{ :href => blog_path(editor.primary_blog) }<
        &nbsp;
  .z_name
    %a{ :href => blog_path(editor.primary_blog) }
      = editor.name
  .z_operation  
    - if @blog.customed? editor
      %span.admin 管理员
    - elsif @blog.customed? current_user
      %a.upgrade{:href => editor_blog_path(@blog, editor), :data => { widget: "rest", md: "put", callback: "replace", parent: "z_operation" }}<
        升为管理员
      %a.kick{:href => editor_blog_path(@blog, editor), :data => {widget: "rest", md: "delete", callback: "del", parent: "member" }}<
        移除
    - if editor == current_user and @blog.canexit? current_user
      %a.exit{:href => exit_path, :data => { widget: "rest", md: "delete", callback: "redirect" }}
        退出
