- @sub_title = @nav_user_title = "管理#{@blog.title}的成员"
- @page_name = "成员管理"
- @exclude_primary = true
.list_box.members
  %h1
    ="#{@blog.title}共#{@editors.length}位成员"
  %ul
    = render :partial => "editor", :collection => @editors
