- content_for :title, "我关注的页面_宽岛"

.middle_box.followers
  %h1
    ="XXX人正在关注XXX"

  - @followers.each do |user|
    - blog = user.blogs.first
    .follower{ :id => "blog_#{blog.id}" }
      .avatar
        %a{ :href => root_url(:subdomain => blog.uri) }
          %img{ :src => blog.icon.url_for(:meduim) }
      .fo_name
        %a{ :href => root_url(:subdomain => blog.uri) }
          = user.name
      = follow_tag blog
