.chat
  .c_content
    %input{ :type => "hidden", :name => "count", :value => @post.comments.count }
    - @post.comments.each do |comment|
      .box
        %div<
          %span.c_name<
            %a{ :href => "" }<
              = comment.author.name
          &nbsp;&nbsp;&nbsp;
          %span.c_date<
            = comment.created_at
        %div<
          = comment.content
          
  .c_input
    = form_tag( post_comments_path, :method => "post" ) do |f|
      %input{ :type => "text", :name => "content", :onkeydown => "if(new Event(event).code==13){this.getParent('form').getElement('.c_submitter').click();return false;}" }
      %input.c_submitter{ :type => "submit", :value => "回复", :data => { :tgt => "reply" } }
