- css 'post_display'

.chat
  .c_content
    %input{ :type => "hidden", :name => "count", :value => @post.comments.count }
    - @post.comments.each do |comment|
      .box
        %div.c_meta<
          %span.c_name<
            %a{ :href => blog_path(comment.author.primary_blog) }<
              = comment.author.name
          &nbsp;&nbsp;&nbsp;
          %span.c_date<
            = comment.created_at
        %div.c_body<
          = auto_link h(comment.content)
  .c_input
    = form_tag( post_comments_path, :method => "post", :autocomplete => "off" ) do |f|
      .txt
        %input{ :type => "text", :name => "content", :onkeydown => "if(new Event(event).code==13){this.getParent('form').getElement('.c_submitter').getElement('input').click();return false;}" }
      .c_submitter
        %input.c_submitter{ :type => "submit", :value => "回复", :data => { :tgt => "reply" } }
