%table
  %thead
    %tr
      %th 已开放的页面
      %th &nbsp;
  %tbody
  - @blogs.each do |b|
    %tr
      %td
        %a{href: blog_path(b), target: '_blank'}
          = b.title
      %td
        %a{href: "/pop_the_gate/turn_off/#{b.id}", target: '_blank'}
          关闭注册入口

%form{action: '/pop_the_gate/turn_on', target: '_blank', method: 'POST'}
  %label
    页面域名
    %input{name: 'blog_uri'}
  %button{type: :submit}
    开放注册入口
