@import 'lib'

body
  margin: 0
  font:
    size: 12px
    family: $font-main

a
  text-decoration: none
  color: $blue
  &:hover
    text-decoration: underline

  &.slight
    color: $light-blue

  &.page_name
    color: #f93
    font-weight: bold
    line-height: 150%

img
  border: 0

input,
textarea
  outline: none

label
  font-family: $font-main

.header
  margin-top: 5px
  height: 50px

.navigator
  margin-left: $logo-width
  text-align: right

.dash_navigator
  @extend .navigator
  padding-top: 10px
  padding-right: 20px
  font-size: 12px
  line-height: 14px
  font-color: #8E9494

  input
    width: 180px
    border: 1px solid #8E9494
    padding: 2px

  *
    color: #8E9494

  .logout
    display: inline-block
    padding: 0px
    background: url('/images/icons.gif') -56px -14px
    overflow: hidden
    width: 14px
    height: 14px

a.logo
  display: inline
  border: 0
  @include size($logo-width, 46px)
  background: url('/images/logo.gif')
  float: left

.site
  @include centered_container(900px)

.site_middle_size
  @include centered_container(750px)

.middle_box
  width: 560px
  padding: 20px 90px
  background-color: #f2f6f9
  margin: 30px auto
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border-radius: 20px
  border: 1px solid #cadbea
  overflow: hidden

  h1
    color: #68879F
    font-size: 20px
    font-weight: normal
    _font-weight: bold

  h2
    color: #68879F
    font-size: 14px
    font-weight: normal
    _font-weight: bold

.field_with_errors
  display: inline
