@import 'lib'

*
  outline: 0 none
body
  margin: 0
  font: 
    size: 12px
    family: $font-main

.clear_fix
  @include clear_fix

a
  text-decoration: none
  color: $blue
  &:hover
    text-decoration: underline

  &.slight
    color: $light-blue

  &.page_name
    color: $blue
    font-weight: bold
    line-height: 150%

span.slight
  color: gray

img
  border: 0

li
  list-style: none

input,
textarea
  outline: none

label
  font-family: $font-main

pre
  white-space: pre-wrap
  word-wrap: break-word
  font-family: $font-main
  line-height: 1.5

.header
  margin-top: 5px
  height: 50px

.navigator
  margin-left: $logo-width
  text-align: right
  font-size: 14px
  line-height: 24px
  padding-top: 10px
  padding-right: 0
  span
    color: $blue
  a
    color: $blue
    padding: 5px 12px
    text-decoration: none
    margin: 0 -5px
    span
      display: inline-block
      width: 14px
      height: 14px
      background: url('/images/icons.gif') -80px -40px
      position: relative
      top: 5px
      _top: 0px
      _zoom: 1
      overflow: hidden
    &.z_account
      margin-right: 0
  .highlight
    color: #fff
    @include border-radius(8px)
    background-color: $blue
    span
      background: url('/images/icons.gif') -100px -40px
  .menu
    z-index: 9999
    background-color: #ffffff
    border: 1px solid $blue
    display: inline
    font-size: 14px
    line-height: 24px
    padding: 0px 7px
    @include border-radius(8px)
    overflow: hidden
    text-align: left
    position: absolute
    margin-top: -5px
    margin-left: -5px
    _width: 120px
    div
      border-top: 1px solid #eaeaea
      margin-top: -1px
      padding: 4px
      height: 24px
      color: $blue
      span
        display: inline-block
        width: 14px
        height: 14px
        background: url('/images/icons.gif') -120px -40px
        position: relative
        top: 5px
        _top: 0px
        _zoom: 1
        overflow: hidden
      a       
        font-size: 14px
        text-decoration: none
        padding: 0
        margin: 0

.js_enabled .navigator .menu
  display: none

a.logo
  display: inline
  border: 0
  @include size($logo-width, 46px)
  background: url('/images/logo.gif')
  float: left

.site
  @include centered_container(900px)

.site_middle_size
  @include centered_container(750px)

.middle_box
  width: 560px
  padding: 20px 90px
  background-color: #f2f6f9
  margin: 30px auto
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border-radius: 20px
  border: 1px solid #cadbea
  overflow: hidden

  h1
    color: #68879F
    font-size: 20px
    font-weight: normal
    _font-weight: bold

  h2
    color: #68879F
    font-size: 14px
    font-weight: normal
    _font-weight: bold

.field_with_errors
  display: inline

.footer
  color: gray
  text-align: center
  padding: 20px

.spinner
  position: absolute
  opacity: 0.9
  filter: alpha(opacity = 90)
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90)
  z-index: 999
  background: #fff

.spinner-msg
  text-align: center
  font-weight: bold

.spinner-img
  background: url(/images/spinner.gif) no-repeat
  width: 24px
  height: 24px
  margin: 0 auto

.flash
  text-align: center
  
  .success
    background: #FFF1A8
    position: relative
    display: inline-block
    padding: 3px 6px
    border-bottom-left-radius: 6px 6px
    border-bottom-right-radius: 6px 6px

.page_control
  float: right
  position: relative
  width: 276px
  margin-right: 11px
  height: 26px
  @include clear_fix

  a, .page_number
    float: left
    text-decoration: none

  .page_left,
  .page_right
    @include single_line(26px)
    width: 108px
    background: #009fff
    color: white
    font-size: 14px
    text-align: center

  .page_right
    position: absolute
    top: 0
    right: 0

  .page_number
    width: 60px
    font-size: 22px
    line-height: 26px
    font-weight: bold
    text-align: center
    font-family: Helvetica,Arial,sans-serif
    color: #666

.number_page_control
  text-align: right
  padding: 30px 60px

  a
    text-decoration: none
    color: white
    background-color: #009FFF
    border-color: #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8
    border-radius: 5px 5px 5px 5px
    font-size: 18px
    padding: 10px
    font-weight: bold
    margin-left: 5px
    &.clicked
      background: none
      border: 0
      color: #444
    &:hover
      background-color: #528ef2
      color: white

.k_box
  border: 8px solid #548ff4
  @include border-radius(21px)
  background: white
  position: absolute
  .k_box_top
    height: 24px
    .k_box_close
      width: 14px
      height: 14px
      margin: 8px 8px 0 0
      float: right
      background: url('/images/icons.gif') -100px -20px
      overflow: hidden
      cursor: pointer
  .k_box_inner
    .k_box_msg

.box_invite
  padding: 15px 25px
  div
    font-size: 18px
  input
    @include border-radius(8px)
    padding-left: 5px
    width: 360px
    height: 32px
    border: 1px solid #CADBEA
    font-size: 12px

.box_confirm
  text-align: center
  div
    font-size: 18px
    margin: 15px
  a
    padding: 5px 10px
    margin: 15px
    width: 60px
    height: 30px
    text-decoration: none
    color: white
    cursor: pointer
    font-size: 15px
    &:hover
      text-decoration: none
  .box_ok
    background: #548ff4
  .box_cancel
    background: #9f9f9f

.avatar_60
  width: 62px
  float: left
  .z_image
    @include size(60px, 60px)
    display: block
    -moz-border-radius: 6px
    border-radius: 6px
    margin-bottom: 5px
    background: url('/images/default_blog_icon.jpg')
    a
      @include size(60px, 60px)
      display: block
      text-decoration: none
  .z_name
    word-wrap: break-word        

.latest h1
  margin: 30px 0px
  color: #009fff
