@import 'lib'

*
  margin: 0
  padding: 0

.new_page
  .page_name,
  .page_tag,
  .page_url,
  .page_url_edit
    width: 600px
    padding: 5px 0 5px 20px
    font-size: 20px
    height: 45px
    line-height: 45px
    @include border-radius(8px)
    border: 1px solid $pink
    background: #fff

    input
      border: 0
      height: 40px
      line-height: 40px
      font-size: 20px
      width: 300px
  .page_url
    width: 540px
    input
      width: 250px
  .page_box
    padding-top: 20px    
    height: 100px
    .left
      float: left
      width: 250px
    .right
      float: right
      width: 250px
      padding-right: 10px
    .page_name,
    .page_tag,
    .error
      width: 240px
    .page_name
      input
        width: 180px
    .page_tag
      input
        width: 150px
      
  .page_url,
  .page_url_edit
    input
      text-align: right

  .submit_box
    input
      @include hide_text
      display: block
      margin: auto
      width: 150px
      height: 44px
      border: 0px
      cursor: pointer
      background: url('/images/create.gif')

  .error
    padding-left: 8px
    line-height: 45px
    color: red

  label
    color: gray

span.suggestion
  color: $green

.edit_page
  .submit_box input
    @include hide_text
    background: url('/images/post_save.gif')

  .page_logo
    width: 600px
    padding: 15px 0 5px 20px
    font-size: 20px
    height: 85px
    @include border-radius(8px)
    border: 1px solid $pink
    background: #fff
    margin-bottom: 30px

  .page_logo label
    display: block
    width: 60px
    height: 80px
    float: left
    text-align: center
    font-size: 14px

  .page_logo input
    display: block
    width: 200px
    float: left
    margin: 20px 30px

.customize_panel
  background: url("/images/customize_menu_bg.png") repeat-x scroll 0 0 #EEEEEE
  height: 40px
  min-width: 950px
  padding-left: 10px

.button
  -moz-border-bottom-colors:  none
  -moz-border-image:  none
  -moz-border-left-colors:  none
  -moz-border-right-colors:  none
  -moz-border-top-colors:  none
  background-color:  #aaa
  border-color:  #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8
  border-right:  1px solid #B6B6B6
  border-style:  solid
  border-width:  1px
  color:  white
  cursor:  pointer
  font-size: 14px
  padding:  6px 16px
  text-decoration:  none
  _padding: 6px 16px 0px 16px
  _margin-top: 5px

.save
  background: #0095ff

.customize_commands
  float: right
  padding: 10px

.customize_navigation
  float: left

  li
    float: left
    height: 40px
    line-height: 38px
    padding: 0 12px
    text-decoration: none
    color: #555555
    font-size: 18px
    cursor: pointer

    &.activated
      background: #0095ff
      color: #ffffff

form.edit_blog
  .page_name,
  .page_tag,
  .page_url
    @include clear_fix

  .page_url
    margin-top: 10px

  .error
    font-size: 12px
    float: right
    color: red
    margin-top: -8px

  .suggestion
    color: #888

  .menu
    display: none
    border: none
    padding: 0
    margin: 0
    background: url("/images/white_95.png") repeat scroll 0 0 transparent
    border-bottom: 1px solid #DDDDDD
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    border-left: 1px solid #EEEEEE
    border-right: 1px solid #DDDDDD
    padding: 15px 9px
    font-size: 18px
    color: #444444
    position: absolute

  .activated
    display: block

.edit_blog
  font-size: 12px
  line-height: 18px
  _line-height: 22px

  label, input
    margin-bottom: 12px
    height: 18px
    _height: 22px

  .blog_info
    width: 380px
    left: 10px

    label
      margin: 0px 0px 8px 0px
      padding: 0px
      font-size: 18px
      font-weight: bold
      display: block

    input
      @include border-radius(8px)
      border: 1px solid #DDDDDD
      padding: 8px 5px
      font-size: 18px

    .textarea
      @include border-radius(8px)
      border: 1px solid $pink
      background: white

    textarea
      width: 378px
      height: 180px

    .who_did_this
      @include clear_fix

    .title, .tag
      width: 368px
      max-width: 368px
      min-width: 368px

    .link
      width: 240px
      max-width: 240px
      min-width: 240px
      float: left
      text-align: right

    .root_domain
      float: right
      padding-top: 6px

    .image
      width: 200px
      font-size: 12px
      overflow: hidden
      display: inline
      margin-left: 10px

  .advanced
    width: 320px
    left: 225px

    .invite_link
      border: 1px solid #DDDDDD
      padding: 8px 5px
      font-size: 18px
      width: 96%
      @include border-radius(8px)

    .invite_desc
      font-size: 14px

    .item
      padding: 8px 0px

      label
        margin-left: 3px

  .template
    width: 1000px
    height: 530px
    left: 69px

    input
      margin-top: 15px
      background: #57c328

    .pool
      width: 750px
      height: 480px
      overflow-y: auto
      overflow-x: hidden

      .shadow
        background: url("/images/customize_theme_shadow.png") no-repeat scroll center center transparent
        height: 9px
        line-height: 9px
        font-size: 1px

      div
        font-weight: bold
        font-size: 14px

      .template_thumb
        border: 7px solid #E2E2E2
        cursor: pointer
        display: block
        height: 120px
        overflow: hidden

      .selected .template_thumb
        border: 7px solid #F9D853

    .theme
      float: left
      margin-right: 20px
      margin-top: 17px
      overflow: hidden
      width: 215px

      div a
        font-weight: normal
        color: gray
        text-decoration: none
      .author_name
        color: gray
        display: inline
      .template_name
        cursor: pointer

    .image
      border: 7px solid #E2E2E2
      cursor: pointer
      display: block
      height: 120px
      overflow: hidden

    .activated .image
      border: 7px solid #F9D853

    .custom_html
      width: 750px
      height: 480px

      textarea
        width: 740px
        height: 480px

    .buttons
      margin-top: 15px

      .button
        margin: 5px
        background: transparent
        color: #3366cc
        border: 0

      .strong
        background: #3366cc
        color: white

.pool_field, .custom_field
  display: none

.picking_template .pool_field,
.editing_custom_html .custom_field
  display: block

fieldset.appearance
  width: 320px
  height: auto
  max-height: 530px
  left: 130px

  .reset
    font-size: 14px

  .box
    height: auto
    max-height: 480px
    overflow: auto

  select
    font-size: 18px
    width: 130px
  .colors
    height: 40px
    line-height: 40px
    margin-bottom: 10px
  .color_pick
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC
    @include border-radius(5px)
    border-right: 1px solid #AAAAAA
    border-style: solid
    border-width: 1px
    cursor: pointer
    float: left
    height: 38px
    margin-right: 10px
    width: 50px
  .fonts, .booleans, .images
    padding: 8px 0px
  .fonts span
    margin-right: 3px
  .images
    input
      width: 130px
      font-size: 10px
      margin-left: 3px
    a
      margin-left: 3px
      text-decoration: none
      color: white
      background-color: #aaa
      border-color: #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8
      @include border-radius(5px)
      font-size: 14px
      padding: 4px 7px
    &.image_empty
      .uploader
        display: auto
      .cleaner
        display: none
    &.image_exist
      .uploader
        display: none
      .cleaner
        display: auto

  .booleans
    input
      font-size: 18px
    label
      margin-left: 3px
  .text
    input
      border: 1px solid #DDDDDD
      @include border-radius(8px)
      padding: 8px 5px
      font-size: 18px

  .buttons
    margin-top: 15px

.shrinked
  .invite_desc,
  .invite_link
    display: none

.customize_navigation
  @include clear_fix

  li
    float: left
    display: inline

#preview
  width: 100%

.custom_field
  overflow: hidden
  @include clear_fix

  .aside
    float: left
    width: 186px
    padding: 0 10px

    input
      background: none

  .assets
    border: 1px solid #ddd
    padding: 5px
    max-height: 235px
    *height: 235px
    overflow-x: hidden
    overflow-y: auto
    font-size: 12px
    word-break: break-all
    word-wrap: break-word

    li
      border-bottom: 1px #ddd dashed
      padding-bottom: 8px
      margin-bottom: 8px

  .main
    float: left
    width: 750px

.edit_blog .blog_info
  .dialog-label
    display: inline
    font:
      size: 12px
      weight: normal

  .dialog-input
    width: 190px
    *width: 175px
    padding:
      top: 4px
      bottom: 4px

.edit_blog fieldset.service
  left: 210px
  width: 320px
  font-size: 16px
  line-height: 1.5

.sina_weibo
  border: 1px #ddd solid
  @include border-radius(8px)
  padding: 0.5em

  .caption
    background: url('/images/sina_24x24.png') no-repeat
    padding-left: 2em
