.commands {
  position: absolute;
  top: 5px;
  right: 5px;
}
.commands a {
  float: right;
}

.commands .remove, .commands .edit, .commands .fave, .commands .faved
.back_to_home, .btn_unfollow, .btn_follow, .btn_apply, .btn_customize, .btn_repost {
  text-indent: -9999px;
  margin-left: 10px;
  height: 20px;
}
.back_to_home, .btn_unfollow, .btn_follow, .btn_apply, .btn_customize, .btn_repost {
  width: 80px;
}
.commands .remove, .commands .edit, .commands .fave, .commands .faved {
  width: 20px;
}
.btn_repost {
  background: url('/images/btn_repost.gif')
}
.btn_customize {
  background: url('/images/btn_customize.gif')
}
.back_to_home {
  background: url('/images/btn_backhome.gif');
}
.btn_follow {
  background: url('/images/btn_follow.gif')
}
.btn_unfollow {
  background: url('/images/btn_unfollow.gif')
}
.btn_apply {
  background: url('/images/btn_apply.gif')
}
.commands .remove {
  background: url('/images/btn_remove.gif')
}
.commands .edit {
  background: url('/images/btn_edit.gif')
}
.commands .fave {
  background: url('/images/btn_fave.gif')
}
.commands .faved {
  background: url('/images/btn_fave2.gif')
}
