.commands {
  position: absolute;
  top: 5px;
  right: 5px;
}
.commands a {
  float: right;
}

.commands .remove, .commands .edit, .commands .fave, .commands .faved,
.back_to_home, .btn_unfollow, .btn_follow, .btn_apply, .btn_customize, .btn_repost {
  text-indent: -9999px;
  margin-left: 10px;
  height: 20px;
}
.back_to_home, .btn_unfollow, .btn_follow, .btn_apply, .btn_customize, .btn_repost {
  width: 80px;
}
.commands .remove, .commands .edit, .commands .fave, .commands .faved {
  width: 20px;
}
.btn_repost {
  background: url('/images/btn_repost.gif')
}
.btn_customize {
  background: url('/images/btn_customize.gif')
}
.back_to_home {
  background: url('/images/btn_backhome.gif');
}
.btn_follow {
  background: url('/images/btn_follow.gif')
}
.btn_unfollow {
  background: url('/images/btn_unfollow.gif')
}
.btn_apply {
  background: url('/images/btn_apply.gif')
}
.commands .remove {
  background: url('/images/btn_remove.gif')
}
.commands .edit {
  background: url('/images/btn_edit.gif')
}
.commands .fave {
  background: url('/images/btn_fave.gif')
}
.commands .faved {
  background: url('/images/btn_fave2.gif')
}
#kmon *, #kmon {
  margin: 0;
  padding: 0;
}
#kmon {
  width: 100%;
  height: 70px;
  border-bottom: 4px #3366cc solid;
  background: #fff;
  *zoom: 1;
}
#kmon:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#kmon .kmon_inner {
  width: 960px;
  margin: 0 auto;
}
#kmon .logo {
  float: left;
  width: 270px;
  height: 60px;
  background: url('/images/logo.gif') no-repeat bottom left;
}
#kmon .slogan {
  font-family: "Hiragino Sans GB", "microsoft yahei", hei, sans-serif;
  float: right;
  margin-top: 18px;
  font-size: 32px;
  line-height: 1;
  vertical-align: bottom;
}
#kmon a {
  color: #3366cc;
}
