@import 'lib'

@mixin dashboard_sidebar_button
  display: inline-block
  @include size(14px, 14px)
  overflow: hidden

@mixin post_area_button
  width: 125px
  display: block
  background: url('/images/embed/dash_bg.gif') no-repeat

a.page_name
  font-weight: bold
  line-height: 1.5

.dash_navigator
  margin-left: $logo-width
  text-align: right
  padding-top: 10px
  padding-right: 6px
  font-size: 12px
  line-height: 14px
  color: $light-gray

  a, input
    color: $light-gray

  .invite
    width: 180px
    border: 1px solid
    border-color: #C4C7BD #EFEFEF #F2F2F2 #D2D5CA
    padding: 2px

  .logout
    display: inline-block
    padding: 0px
    background: url('/images/icons.gif') -80px -20px
    overflow: hidden
    width: 14px
    height: 14px

.dashboard
  margin-top: 24px
  @include clear_fix

  .menu
    padding-top: 4px
    width: 186px
    padding-left: 14px
    float: right
    height: 500px

    a
      color: $light-gray
      text-decoration: none


    .page_operation
      margin: 0px 10px


    .page_operation
      line-height: 24px

    span
      vertical-align: middle
      cursor: pointer

    .disabled
      color: #cacaca
      cursor: default

  .menu_arrow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -40px -20px

  .text_follow,
  .text_reply,
  .text_message,
  .text_collect
    display: inline-block
    width: 134px
    line-height: 14px

  .icon_primary
    @include dashboard_sidebar_button
    background: url('/images/embed/icon_primary.gif')
    &.disabled
      background: url('/images/embed/icon_primary_disabled.gif')

  .icon_config
    @include dashboard_sidebar_button
    background: url('/images/embed/icon_config.gif')
    &.disabled
      background: url('/images/embed/icon_config_disabled.gif')

  .icon_members
    @include dashboard_sidebar_button
    background: url('/images/embed/icon_members.gif')
    &.disabled
      background: url('/images/embed/icon_members_disabled.gif')

  .icon_follow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0 -20px

  .icon_followe2
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0px 0px

  .icon_followed
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -60px 0px

  .icon_message
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -180px -20px

  .icon_reply
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -160px 0px
    overflow: hidden

  .icon_collect
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -40px 0px
    overflow: hidden

  .icon_posts
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px 0px

  .icon_remove
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -100px 0px

  .icon_post
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -98px 0px

  .icon_view
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px -20px
 
  .main
    width: 700px
    float: left
    overflow: hidden

  .timeline
    padding-top: 12px
    margin-left: 20px

  .head
    clear: both
    background: url('/images/embed/dash_bg.gif') no-repeat
    width: 900px
    height: 130px
    overflow:hidden
    position: relative

  .head_avatar
    @include size(60px, 60px)
    background-image: url('/images/default_icon_medium.gif')
    background-repeat: no-repeat
    background-position: center
    -moz-border-radius: 5px
    border-radius: 5px
    margin: 20px
    float: left
    display: inline

    a
      @include size(60px, 60px)
      display: block
      text-decoration: none
  .icon_s
    width: 30px
    height: 30px
    border: 3px solid #7999dd
    border-bottom: 0
    -webkit-border-top-left-radius: 10px
    -moz-border-radius-topleft: 10px
    border-top-left-radius: 10px
    -webkit-border-top-right-radius: 10px
    -moz-border-radius-topright: 10px
    border-top-right-radius: 10px
    background: url('/images/default_icon_30.jpg') no-repeat 0 0
    overflow: hidden
    position: absolute
    top: 47px
    left: 60px
    z-index: 1

  .post_area
    margin-left: 60px
    text-decoration: none

    .left
      width: 30px
    div
      height: 100px
      float: left
    
    a
      display: block
      width: 110px
      height: 90px
      overflow: hidden
      float: left
      text-indent: -100px

    .text
      background-image: url('/images/embed/dash_text.gif')
      &:hover
        background-image: url('/images/embed/dash_text_hover.gif')

    .picture
      background-image: url('/images/embed/dash_picture.gif')
      &:hover
        background-image: url('/images/embed/dash_picture_hover.gif')

    .link
      background-image: url('/images/embed/dash_link.gif')
      &:hover
        background-image: url('/images/embed/dash_link_hover.gif')

    .video
      background-image: url('/images/embed/dash_video.gif')
      &:hover
        background-image: url('/images/embed/dash_video_hover.gif')

    .audio
      background-image: url('/images/embed/dash_audio.gif')
      &:hover
        background-image: url('/images/embed/dash_audio_hover.gif')

  .head_menu
    width: 180px
    height: 55px
    overflow: hidden
    float: right
    padding-top: 45px
    padding-right: 5px
    a
      display: inline
      width: 20px
      float: left
      text-decoration: none
      margin: 0px 10px
      color: #3366cc
      *text-align: center
      cursor: pointer
    span
      display: block
      height: 20px
      text-indent: -1000px
    .my_follow
      height: 20px
      background: url('/images/icon.gif') 0px -40px no-repeat
    .my_collect
      height: 20px
      background: url('/images/icon.gif') -20px -40px no-repeat
    .my_reply
      height: 40px
      background: url('/images/icon.gif') -40px -40px no-repeat
    .my_message
      height: 40px
      background: url('/images/icon.gif') -60px -40px no-repeat

.breadcrumbs
  clear: both
  line-height: 40px
  margin-left: 20px
  font-size: 14px
  color: $gray

.highlight_following .menu_arrow
  background: url('/images/icons.gif') -20px -20px

.highlight_following .icon_follow
  background: url('/images/icons.gif') 0px -20px

.real_fucking_following
  visibility: hidden

.hover .real_fucking_following
  visibility: visible

.my_pages
  position: relative
  .z_blog,
  .selector
    @include clear_fix
    .z_type
      float: left
    .z_title
      float: left
      width: 130px
    .primary,
    .private,
    .public
      margin-top: 3px
      width: 16px
      height: 20px
      display: inline-block
      *display: inline
      *zoom: 1
    .private
      background: url(/images/embed/private.gif) no-repeat
    .primary
      background: url(/images/embed/primary.gif) no-repeat
  .selector
    .primary,
    .private,
    .public
      margin-top: 10px

  a
    color: $light-gray
    text-decoration: none

    &.selector
      background: url('/images/mypages_close_a.gif')
      color: $gray

      &:hover
        background: url('/images/mypages_close.png')

  .selector
    display: block
    @include size(148px, 34px)
    cursor: pointer
    line-height: 34px
    font-weight: bold
    font-size: 14px
    padding-left: 10px
    padding-right: 28px
    overflow: hidden
    color: $gray

  .selector_open
    width: 186px
    font-weight: bold
    font-size: 14px
    overflow: hidden
    color: #777777
    position: absolute
    top: 0
    left: 0

  .selector_open_head
    background: url('/images/mypages_open1.png')
    @include size(166px, 21px)
    padding: 0 10px 5px 10px
    overflow: hidden

  .selector_open_menu
    width: 166px
    background: url('/images/mypages_open2.png') repeat-y
    padding: 0px 10px
    line-height: 24px

  .selector_open_footer
    background: url('/images/mypages_open3.png')
    @include size(186px, 50px)
    text-align: center
    line-height: 50px

    a
      display: block
      color: $blue
      line-height: 50px

  div.selector
    background: url('/images/mypages_close.png')

.shrinked .selector_open
  display: none

.article
  clear: both
  margin-bottom: 25px

  .avatar
    width: 62px
    float: left

    .image
      @include size(60px, 60px)
      display: block
      -moz-border-radius: 6px
      border-radius: 6px
      margin-bottom: 5px
      background-image: url('/images/default_blog_icon.jpg')
      background-repeat: no-repeat
      background-position: center
      
      a
        @include size(60px, 60px)
        display: block
        text-decoration: none

  .page_name
    word-wrap: break-word        

  .update_time
    font-family: Arial, Verdana, sans-serif
    color: #888888

  .content_body
    padding: 0px 50px
    font-size: 14px

.dashboard_flash
  width: 680px
  height: 40px
  background-color: #b8e3b7
  color: #808080
  font-size: 18px
  line-height: 40px
  text-align: center
  position: absolute
  top: 99px
  left: 20px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  webkit-border-bottom-right-radius: 10px
  webkit-border-bottom-right-radius: 10px
  a
    @include hide_text
    width: 14px
    height: 14px
    display: block
    background: url('/images/icons.gif') no-repeat -100px -20px
    position: absolute
    top: 10px
    right: 20px
    cursor: pointer
    overflow: hidden
