@import 'lib'

@mixin dashboard_sidebar_button
  display: inline-block
  @include size(14px, 14px)
  overflow: hidden

@mixin post_area_button
  width: 125px
  display: block
  background: url('/images/dash_.gif') no-repeat

a.page_name
  color: #f93
  font-weight: bold
  line-height: 1.5

.dash_navigator
  margin-left: $logo-width
  text-align: right
  padding-top: 10px
  padding-right: 6px
  font-size: 12px
  line-height: 14px
  color: $light-gray

  a, input
    color: $light-gray

  .invite
    width: 180px
    border: 1px solid
    border-color: #C4C7BD #EFEFEF #F2F2F2 #D2D5CA
    padding: 2px

  .logout
    display: inline-block
    padding: 0px
    background: url('/images/icons.gif') -80px -20px
    overflow: hidden
    width: 14px
    height: 14px

.dashboard
  margin-top: 24px
  @include clear_fix

  .menu
    padding-top: 4px
    width: 186px
    padding-left: 14px
    float: right
    height: 500px

    a
      color: $light-gray
      text-decoration: none


    .page_operation
      margin: 0px 10px


    .page_operation
      line-height: 24px

    span
      vertical-align: middle
      cursor: pointer


  .menu_arrow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -40px -20px

  .text_follow,
  .text_reply,
  .text_message,
  .text_collect
    display: inline-block
    width: 134px
    line-height: 14px

  .icon_follow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0 -20px

  .icon_followe2
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0px 0px

  .icon_followed
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -60px 0px

  .icon_message
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -180px -20px

  .icon_reply
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -160px 0px
    overflow: hidden

  .icon_collect
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -40px 0px
    overflow: hidden

  .icon_posts
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px 0px

  .icon_config
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -80px 0px

  .icon_members
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -180px 0px

  .icon_remove
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -100px 0px

  .icon_post
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -98px 0px

  .icon_view
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px -20px
 
  .main
    width: 700px
    float: left
    overflow: hidden

  .timeline
    padding-top: 12px
    margin-left: 20px

  .head
    clear: both
    background: url('/images/dash_.gif') no-repeat
    width: 900px
    height: 130px
    overflow:hidden

  .head_avatar
    @include size(60px, 60px)
    background: url('/images/default_icon_medium.gif')
    -moz-border-radius: 6px
    border-radius: 6px
    border-bottom: 1px solid #333
    margin: 20px
    float: left
    
    a
      @include size(60px, 60px)
      display: block
      text-decoration: none

  .post_area
    margin-left: 60px
    text-decoration: none

    div
      height: 100px
      float: left
    
    a
      display: block
      width: 126px
      height: 80px
      overflow: hidden
      float: left
      margin-top: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      background-position: 0px -6px
      text-indent: -100px
      &:hover
        background-color: #2660c2
      &:active
        background-color: #009fff

    .left
      width: 50px

    .text
      background-image: url('/images/dash_text.gif')

    .picture
      background-image: url('/images/dash_picture.gif')

    .link
      background-image: url('/images/dash_link.gif')

    .video
      background-image: url('/images/dash_video.gif')

  .head_menu
    width: 180px
    height: 55px
    overflow: hidden
    float: right
    padding-top: 45px
    padding-right: 5px
    a
      display: block
      width: 20px
      float: left
      text-decoration: none
      margin: 0px 10px
      color: #cfe9ff
      *text-align: center
      cursor: pointer
    span
      display: block
      height: 20px
      text-indent: -1000px
    .my_follow
      height: 20px
      background: url('/images/icon.gif') 0px -40px no-repeat
    .my_collect
      height: 20px
      background: url('/images/icon.gif') -20px -40px no-repeat
    .my_reply
      height: 40px
      background: url('/images/icon.gif') -40px -40px no-repeat
    .my_message
      height: 40px
      background: url('/images/icon.gif') -60px -40px no-repeat
  .head_txt
    clear: both
    line-height: 40px
    margin-left: 20px
    a
      text-decoration: none


.highlight_following .menu_arrow
  background: url('/images/icons.gif') -20px -20px

.highlight_following .icon_follow
  background: url('/images/icons.gif') 0px -20px

.real_fucking_following
  visibility: hidden

.hover .real_fucking_following
  visibility: visible

.my_pages
  position: relative

  a
    color: $light-gray
    text-decoration: none

    &.selector
      background: url('/images/mypages_close_a.gif')
      color: $gray

      &:hover
        background: url('/images/mypages_close.png')

  .selector
    display: block
    @include size(148px, 34px)
    cursor: pointer
    line-height: 34px
    font-weight: bold
    font-size: 14px
    padding-left: 10px
    padding-right: 28px
    overflow: hidden
    color: $gray

  .selector_open
    width: 186px
    font-weight: bold
    font-size: 14px
    overflow: hidden
    color: #777777
    position: absolute
    top: 0
    left: 0

  .selector_open_head
    background: url('/images/mypages_open1.png')
    @include size(166px, 21px)
    padding: 0 10px 5px 10px
    overflow: hidden

  .selector_open_menu
    width: 166px
    background: url('/images/mypages_open2.png') repeat-y
    padding: 0px 10px
    line-height: 24px

  .selector_open_footer
    background: url('/images/mypages_open3.png')
    @include size(186px, 50px)
    text-align: center
    line-height: 50px

    a
      display: block
      color: $blue
      line-height: 50px

  div.selector
    background: url('/images/mypages_close.png')

.shrinked .selector_open
  display: none

.article
  clear: both
  margin-bottom: 25px

  .avatar
    width: 62px
    float: left

    .image
      @include size(60px, 60px)
      display: block
      -moz-border-radius: 6px
      border-radius: 6px
      border-bottom: 1px solid #333
      margin-bottom: 5px
      background: url('/images/default_blog_icon.jpg')
      
      a
        @include size(60px, 60px)
        display: block
        text-decoration: none

  .page_name
    word-wrap: break-word        
        
  .writer_name a
    color: #888888
    font-size: 14px

  .update_time
    font-size: 10px
    font-family: Arial, Verdana
    color: #888888

  .content_body
    padding: 0px 50px
    font-size: 14px
