@import 'lib'

@mixin dashboard_sidebar_button
  display: inline-block
  @include size(14px, 14px)
  overflow: hidden

@mixin post_area_button
  width: 125px
  display: block
  background: url('/images/dash_.gif') no-repeat

a.page_name
  color: #f93
  font-weight: bold
  line-height: 1.5

.dash_navigator
  margin-left: $logo-width
  text-align: right
  padding-top: 10px
  padding-right: 6px
  font-size: 12px
  line-height: 14px
  color: $light-gray

  a, input
    color: $light-gray

  .invite
    width: 180px
    border: 1px solid
    border-color: #C4C7BD #EFEFEF #F2F2F2 #D2D5CA
    padding: 2px

  .logout
    display: inline-block
    padding: 0px
    background: url('/images/icons.gif') -80px -20px
    overflow: hidden
    width: 14px
    height: 14px

.dashboard
  margin-top: 24px
  @include clear_fix

  .menu
    padding-top: 4px
    width: 186px
    padding-left: 14px
    float: right
    height: 500px

    a
      color: $light-gray
      text-decoration: none


    .page_operation
      margin: 0px 10px


    .page_operation
      line-height: 24px

    span
      vertical-align: middle
      cursor: pointer


  .menu_arrow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -40px -20px

  .text_follow,
  .text_reply,
  .text_message,
  .text_collect
    display: inline-block
    width: 134px
    line-height: 14px

  .icon_follow
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0 -20px

  .icon_followe2
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') 0px 0px

  .icon_followed
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -60px 0px

  .icon_message
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -180px -20px

  .icon_reply
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -160px 0px
    overflow: hidden

  .icon_collect
    display: inline-block
    width: 14px
    height: 14px
    background: url('/images/icons.gif') -40px 0px
    overflow: hidden

  .icon_posts
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px 0px

  .icon_config
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -80px 0px

  .icon_members
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -180px 0px

  .icon_remove
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -100px 0px

  .icon_post
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -98px 0px

  .icon_view
    @include dashboard_sidebar_button
    background: url('/images/icons.gif') -140px -20px

  .dash_operation
    margin-left: 10px

    hr
      width: 80%
      color: #ddd
      height: 1px
      border: 0px
      border-top: 1px solid #ddd
      margin: 0px 0px 5px 0px
      padding: 0px
      overflow: hidden


    .my_follow
      margin-left: -18px
      margin-bottom: 16px

    .my_reply,
    .my_message,
    .my_collect
      margin-bottom: 10px
      margin-top: 10px

      .new
        color: #ff9933

    .create_page
      margin-bottom: 2px
      margin-top: 5px
      font-size: 12px

  .main
    width: 700px
    float: left
    overflow: hidden

  .head
    height: 100px
    clear: both

  .head_avatar
    @include size(60px, 60px)
    border: 1px solid gray
    float: left
    background: url('/images/default_icon_medium.gif')

    a
      @include border-radius(15px)
      overflow: hidden
      position: relative
      z-index: 2

    img
      @include size(60px, 60px)
      display: block
      position: relative
      z-index: 1

  .post_area
    margin-left: 72px
    background-color: #65b7fc
    text-decoration: none

    div, a
      height: 100px
      float: left

    .left
      @include post_area_button
      width: 66px

    .text
      @include post_area_button
      background-position: -66px

    .picture
      @include post_area_button
      background-position: -191px

    .link
      @include post_area_button
      background-position: -316px

    .video
      @include post_area_button
      background-position: -441px

    .right
      @include post_area_button
      width: 51px
      background-position: -566px

  .timeline
    padding-top: 30px

.highlight_following .menu_arrow
  background: url('/images/icons.gif') -20px -20px

.highlight_following .icon_follow
  background: url('/images/icons.gif') 0px -20px

.real_fucking_following
  visibility: hidden

.hover .real_fucking_following
  visibility: visible

.my_pages
  position: relative

  a
    color: $light-gray
    text-decoration: none

    &.selector
      background: url('/images/mypages_close_a.gif')
      color: $gray

      &:hover
        background: url('/images/mypages_close.png')

  .selector
    display: block
    @include size(148px, 34px)
    cursor: pointer
    line-height: 34px
    font-weight: bold
    font-size: 14px
    padding-left: 10px
    padding-right: 28px
    overflow: hidden
    color: $gray

  .selector_open
    width: 186px
    font-weight: bold
    font-size: 14px
    overflow: hidden
    color: #777777
    position: absolute
    top: 0
    left: 0

  .selector_open_head
    background: url('/images/mypages_open1.png')
    @include size(166px, 21px)
    padding: 0 10px 5px 10px
    overflow: hidden

  .selector_open_menu
    width: 166px
    background: url('/images/mypages_open2.png') repeat-y
    padding: 0px 10px
    line-height: 24px

  .selector_open_footer
    background: url('/images/mypages_open3.png')
    @include size(186px, 50px)
    text-align: center
    line-height: 50px

    a
      display: block
      color: $blue
      line-height: 50px

  div.selector
    background: url('/images/mypages_close.png')

.shrinked .selector_open
  display: none

.article
  clear: both
  margin-bottom: 25px

  .avatar
    width: 62px
    float: left

    .image
      @include size(60px, 60px)
      border: 1px solid gray
      margin-bottom: 5px
      background: url('/images/default_blog_icon.jpg')

  .writer_name a
    color: #888888
    font-size: 14px

  .update_time
    font-size: 10px
    font-family: Arial, Verdana
    color: #888888

  .content_body
    padding: 0px 50px
    font-size: 14px

.page_control
  float: right
  position: relative
  width: 276px
  margin-right: 11px
  height: 26px
  @include clear_fix

  a, .page_number
    float: left
    text-decoration: none

  .page_left,
  .page_right
    @include single_line(26px)
    width: 108px
    background: #009fff
    color: white
    font-size: 14px
    text-align: center

  .page_right
    position: absolute
    top: 0
    right: 0

  .page_number
    width: 60px
    font-size: 22px
    line-height: 26px
    font-weight: bold
    text-align: center
    font-family: Helvetica,Arial,sans-serif
    color: #666
