.k_box {
  border: 8px solid #548ff4;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  background: white;
  position: absolute; }
  .k_box .k_box_top {
    height: 24px; }
    .k_box .k_box_top .k_box_close {
      width: 14px;
      height: 14px;
      margin: 8px 8px 0 0;
      float: right;
      display: inline;
      background: url("/images/icons.gif") -100px -20px;
      overflow: hidden;
      cursor: pointer; }

.box_invite {
  padding: 15px 25px; }
  .box_invite div {
    font-size: 18px; }
  .box_invite input {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding-left: 5px;
    width: 360px;
    height: 32px;
    border: 1px solid #cadbea;
    font-size: 12px; }

.box_confirm {
  text-align: center; }
  .box_confirm div {
    font-size: 18px;
    margin: 15px; }
  .box_confirm a {
    padding: 5px 10px;
    margin: 15px;
    width: 60px;
    height: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px; }
    .box_confirm a:hover {
      text-decoration: none; }
  .box_confirm .box_ok {
    background: #548ff4; }
  .box_confirm .box_cancel {
    background: #9f9f9f; }
