* {
  margin: 0;
  padding: 0; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

body {
  background: #dce1eb; }

#container {
  background: #c5ccd3 url(/images/mobile/pinstripes.png); }
  #container h1, #container h2 {
    font: bold 18px "Helvetica Neue", Helvetica;
    text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
    color: #4c566c;
    margin: 10px 20px 6px; }
  #container h1 + ul, #container h2 + ul, #container h3 + ul, #container h4 + ul, #container h5 + ul, #container h6 + ul {
    margin-top: 0; }
  #container ul {
    color: black;
    background: white;
    border: 1px solid #b4b4b4;
    font: bold 17px "Helvetica Neue", Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
    -webkit-border-radius: 8px; }
    #container ul li {
      color: #666666;
      border-top: 1px solid #b4b4b4;
      list-style-type: none;
      padding: 10px 10px 10px 10px; }
  #container li:first-child {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px; }
  #container li:last-child {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px; }
  #container .button, #container .back, #container .cancel, #container .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 5px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(/images/mobile/toolButton.png) 0 5 0 5; }
  #container .button.active, #container .cancel.active, #container .add.active {
    -webkit-border-image: url(/images/mobile/toolButton.png) 0 5 0 5; }
  #container .blueButton {
    -webkit-border-image: url(/images/mobile/activeButton.png) 0 5 0 5;
    border-width: 0 5px; }
  #container .back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(/images/mobile/backButton.png) 0 8 0 14; }
    #container .back.active {
      -webkit-border-image: url(/images/mobile/backButton.png) 0 8 0 14; }
  #container .leftButton, #container .cancel {
    left: 10px;
    right: auto; }
  #container .greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
    width: 99%;
    margin: auto;
    cursor: pointer; }
  #container .greenButton.active {
    -webkit-border-image: url(/images/mobile/activeButton.png) 0 12 0 12; }
  #container .greenButton {
    -webkit-border-image: url(/images/mobile/greenButton.png) 0 12 0 12;
    color: white; }
  #container .error {
    color: red;
    font-weight: bold; }
  #container .header {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    padding: 10px;
    height: 45px;
    background: url(/images/mobile/toolbar.png) #6d84a2 repeat-x;
    position: relative; }
    #container .header h1 {
      float: left;
      padding-left: 85px;
      margin: 2px 0 0 0;
      width: 1px;
      font-size: 20px;
      font-weight: bold;
      text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: white; }
    #container .header .rightButton {
      position: static;
      float: right;
      margin-left: 5px;
      z-index: 1; }
  #container .footer {
    background: #dce1eb;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    color: #4c566c;
    padding: 15px;
    border-top: 1px solid rgba(76, 86, 108, 0.3);
    font-weight: bold; }

.article:hover {
  background: lightyellow; }
.article a {
  color: #666666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: underline; }
.article .avatar {
  display: inline-block;
  position: absolute; }
  .article .avatar img {
    -webkit-border-radius: 8px; }
.article .content {
  margin-left: 50px; }
  .article .content .content_head,
  .article .content .content_footer {
    height: 22px; }
    .article .content .content_head .left,
    .article .content .content_footer .left {
      float: left; }
      .article .content .content_head .left >,
      .article .content .content_footer .left > {
        float: left;
        margin-right: 5px; }
    .article .content .content_head .right,
    .article .content .content_footer .right {
      float: right; }
      .article .content .content_head .right a, .article .content .content_head .right div,
      .article .content .content_footer .right a,
      .article .content .content_footer .right div {
        float: right;
        margin-left: 5px; }
    .article .content .content_head .update_time,
    .article .content .content_footer .update_time {
      color: #ff9933; }
  .article .content .content_body {
    margin: 12px; }

ul.form li {
  padding: 7px 10px; }
  ul.form li.error {
    border: 2px solid red; }
    ul.form li.error + li.error {
      border-top: 0; }
  ul.form li:hover {
    background: white; }
ul li input[type="text"], ul li input[type="password"], ul li input[type="tel"], ul li input[type="number"], ul li input[type="search"], ul li input[type="email"], ul li input[type="url"] {
  color: #777777;
  background: white url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea; }
ul li textarea, ul li select {
  color: #777777;
  background: white url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 99%;
  -webkit-appearance: textarea; }
ul li textarea {
  height: 240px;
  padding: 5px;
  text-indent: -2px; }
ul li select {
  text-indent: 0px;
  background: transparent url(/images/mobile/chevron.png) no-repeat 103% 3px;
  -webkit-appearance: textfield;
  margin-left: -6px;
  width: 104%; }
ul li input[type="checkbox"], ul li input[type="radio"] {
  margin: 0;
  color: #324f85;
  padding: 10px 10px; }
ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
  content: attr(title);
  font: 17px "Helvetica Neue", Helvetica;
  display: block;
  width: 246px;
  margin: -12px 0 0 17px; }

#container .comments a {
  color: #3366cc; }
#container .comments .c_date {
  color: #009a93;
  font-size: 12px;
  font-weight: normal; }
#container .comments textarea {
  height: auto; }
#container .blog h2 {
  height: 30px;
  margin-left: 10px; }
  #container .blog h2 .avatar img {
    -webkit-border-radius: 8px;
    display: inline-block;
    position: absolute; }
  #container .blog h2 .page_name {
    margin-left: 36px; }
#container .blog .content {
  margin-left: auto; }
#container .page_control {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
  padding: 0 10px 20px 10px; }
  #container .page_control .page_left, #container .page_control .page_right, #container .page_control .page_number {
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 33%;
    float: left;
    display: inline-block;
    color: #324f85;
    padding: 11px 10px 14px 10px; }
  #container .page_control a {
    text-decoration: none;
    color: #b7becd;
    background: white;
    border: 1px solid #b4b4b4; }
    #container .page_control a:hover {
      color: white;
      background: #3366cc; }
  #container .page_control .page_right {
    float: right; }
