body {
  margin: 0;
  font-size: 12px;
  font-family: Hiragino Sans GB, hei, microsoft yahei; }

a {
  text-decoration: none;
  color: #336dff; }
  a:hover {
    text-decoration: underline; }
  a.slight {
    color: #7eaedc; }
  a.page_name {
    color: #ff9933;
    font-weight: bold;
    line-height: 150%; }

img {
  border: 0; }

input,
textarea {
  outline: none; }

label {
  font-family: Hiragino Sans GB, hei, microsoft yahei; }

.header {
  margin-top: 5px;
  height: 50px; }

.navigator, .dash_navigator {
  margin-left: 210px;
  text-align: right; }

.dash_navigator {
  font-size: 14px; }

a.logo {
  display: inline;
  border: 0;
  width: 210px;
  height: url("/images/logo.gif");
  float: left; }

.site {
  width: 900px;
  margin: auto;
  overflow: hidden; }

.site_middle_size {
  width: 750px;
  margin: auto;
  overflow: hidden; }

.post {
  margin: 20px auto 0 auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #cadbea;
  background: #f2f6f9;
  padding: 0 20px; }
  .post h1 {
    font-weight: normal;
    font-size: 30px;
    color: #68879f; }
  .post label {
    color: gray; }
  .post .option_text,
  .post .add_textarea {
    display: block;
    margin-top: -20px;
    margin-bottom: 30px; }
  .post .option_text {
    padding-bottom: 25px; }
  .post .rich_editor_starter,
  .post .new_title_starter {
    width: 100px; }
  .post .rich_editor_starter {
    float: right; }
  .post .new_title_starter {
    float: left; }
  .post .text,
  .post .title_text,
  .post .url_link,
  .post .title_link {
    clear: both;
    width: 685px;
    padding: 5px 0 5px 20px;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #cadbea;
    background: white;
    margin-bottom: 30px; }
  .post .title_text input,
  .post .url_link input,
  .post .title_link input {
    border: 0;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    width: 560px; }
  .post .text {
    height: 180px; }
  .post .text textarea {
    border: 0;
    width: 670px;
    height: 180px;
    font-size: 20px;
    line-height: 1.5; }
  .post .page_selector {
    float: left;
    width: 195px;
    height: 44px; }
  .post .cancel {
    width: 150px;
    height: 44px;
    cursor: pointer;
    float: right;
    background: url("/images/post_cancel.gif"); }
  .post .send {
    width: 150px;
    height: 44px;
    cursor: pointer;
    margin-left: 195px;
    background: url("/images/post_send.gif"); }
