@import 'base'

.post
  margin: 20px auto 0 auto
  @include border-radius(15px)
  border: 1px solid $pink
  background: $almost-white
  padding: 0 20px

  h1
    @include heading
    color: $green

  label
    color: gray

  .option_text,
  .add_textarea
    display: block
    margin:
      top: -20px
      bottom: 30px

  .option_text
    padding-bottom: 25px

  .rich_editor_starter,
  .textarea_starter,
  .textarea_closer,
  .new_title_starter
    width: 100px

  .rich_editor_starter,
  .textarea_starter,
  .textarea_closer
    float: right

  .new_title_starter
    float: left

  .text,
  .title_text,
  .url_link,
  .title_link
    clear: both
    width: 685px
    padding: 5px 0 5px 20px
    font-size: $input-font-size
    height: $input-height + 5px
    line-height: $input-height + 5px
    @include border-radius(8px)
    border: 1px solid $pink
    background: white
    margin-bottom: 30px

  .title_text input,
  .url_link input,
  .title_link input
    border: 0
    height: $input-height
    line-height: $input-height
    font-size: $input-font-size
    width: 560px

  .text
    height: 180px

  .text textarea
    border: 0
    @include size(670px, 180px)
    font-size: $input-font-size
    line-height: 1.5

  .operation
    height: 44px
    margin-bottom: 60px

  .page_selector
    float: left
    @include size(195px, 44px)

  .cancel
    @include big_button
    float: right
    background: url('/images/post_cancel.gif')

  .send
    @include big_button
    margin-left: 195px
    background: url('/images/post_send.gif')

    button
      background: none
      border: 0
      @include hide_text

.my_pages
  $selector-width = 186px
  $selector-padding = 10px
  $selector-inner = $selector-width - 2 * $selector-padding

  a
    text-decoration: none
    color: $light-gray

  .selector_open
    width: $selector-width
    font-size: 14px
    font-weight: bold
    overflow: hidden
    color: $gray

  .selector_open_head
    background: url('/images/mypages_open1.png')
    @include size($selector-inner, 14px)
    padding: 5px $selector-padding
    overflow: hidden

  .selector_open_menu
    width: $selector-inner
    background: url('/images/mypages_open2.png') repeat-y
    padding: 0 $selector-padding
    line-height: 24px

  .selector_open_footer
    @include size($selector-width, 15px)
    background: url('/images/mypages_open3.png')

  .selector
    display: block
    @include size(148px, 34px)
    cursor: pointer
    line-height: 34px
    font:
      weight: bold
      size: 14px
    padding:
      left: 10px
      right: 28px
    overflow: hidden
    color: $gray

  div.selector
    background: url("/images/mypages_close.png")

  a.selector
    background: url("/images/mypages_close_a.gif")
    color: $gray
    &:hover
      background: url('images/mypages_close.png')
