.site .map_main
  a
    display: block
    text-decoration: none
  width: 900px
  height: 600px
  margin-top: 40px
  margin-bottom: 20px
  position: relative
  background: url('/images/bg_map.jpg') no-repeat
  left: 40px
  top: 30px
  .nav
    width: 900px
    height: 600px
    position: relative
    top: 0
    left: 0
    .construct
      width: 57px
      height: 24px
      position: absolute
      top: 55px
      left: 183px
    .bookmark
      width: 44px
      height: 44px
      position: absolute
      top: 25px
      left: 405px
    .wall
      width: 70px
      height: 50px
      position: absolute
      top: 126px
      left: 525px
    .group
      width: 130px
      height: 60px
      position: absolute
      top: 420px
      left: 320px
    .sub_construct
      width: 100px
      height: 27px
      border: 1px solid #8e8e8e
      position: absolute
      top: 10px
      left: 200px
      color: #8e8e8e
      font-family: 'microsoft yahei'
      font-size: 18px
      line-height: 20px
      text-align: center
      padding-top: 3px
      background-color: #ffffff
    .sub_bookmark
      width: 100px
      height: 27px
      border: 1px solid #8e8e8e
      position: absolute
      top: -10px
      left: 420px
      color: #8e8e8e
      font-family: 'microsoft yahei'
      font-size: 18px
      line-height: 20px
      text-align: center
      padding-top: 3px
      background-color: #ffffff
    .sub_wall
      width: 100px
      height: 27px
      border: 1px solid #8e8e8e
      position: absolute
      top: 90px
      left: 510px
      color: #8e8e8e
      font-family: 'microsoft yahei'
      font-size: 18px
      line-height: 20px
      text-align: center
      padding-top: 3px
      background-color: #ffffff
    .sub_group
      width: 100px
      height: 27px
      border: 1px solid #8e8e8e
      position: absolute
      top: 400px
      left: 210px
      color: #8e8e8e
      font-family: 'microsoft yahei'
      font-size: 18px
      line-height: 20px
      text-align: center
      padding-top: 3px
      background-color: #ffffff
  .note
    width: 232px
    height: 110px
    position: absolute
    z-index: 99
    .text
      width: 200px
      height: 90px
      background-color: #ffffff
      border: 1px solid #8e8e8e
      border-radius: 10px
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
      position: absolute
      left: 0
      top: 0
      padding: 10px
      color: #8e8e8e
      font-size: 18px
      line-height: 18px
      overflow: hidden
    &.note_construct
      top: -30px
      left: -40px
    &.note_bookmark
      top: -50px
      left: 530px
    &.note_wall
      top: 50px
      left: 615px
    &.note_group
      top: 360px
      left: -30px
    &.right
      .text
        left: 12px
      .arrow
        width: 12px
        height: 10px
        background: url('/images/embed/map_arrow_l.gif') no-repeat
        border: none
        position: absolute
        top: 50px
        left: 2px
    &.left
      .arrow
        width: 12px
        height: 10px
        background: url('/images/embed/map_arrow_r.gif') no-repeat
        border: none
        position: absolute
        top: 50px
        right: 0
        z-index: 1
.js_enabled
  .note
    visibility: hidden
