@import 'base'

.timeline
  width: 680px
  float: left

.site .editors
  width: 198px
  height: auto
  font-size: 14px
  color: #8e9494
  font-family: microsoft yahei
  line-height: 16px
  float: right
  border: 1px solid #dcdcdc
  padding: 10px 0
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  border-radius: 15px
  overflow: hidden
  .title
    width: 196px
    height: 30px
    margin: 15px 0 0 10px
  .list
    width: 196px
    height: auto
    padding: 0
  .item
    width: 198px
    height: 40px
    .logo
      height: 40px
      float: left
      img
        margin: 5px 5px 3px 10px
        border: 0

    .page_name
      width: 130px
      height: 40px
      padding: 0
      float: left
      overflow: hidden
      a
        width: 130px
        color: #ff9933
        font-size: 14px
        margin-left: 3px
        display: block
        line-height: 38px
        text-decoration: none
        float: left
    .follow
      width: 24px
      height: 40px
      float: right
      a
        .btn_follow
          width: 14px
          height: 14px
          margin: 12px 10px 0 0
          background: url('/images/icons.gif') -20px 0px
          display: block
          overflow: hidden

.explore
  width: 900px
  *
    margin: 0
    padding: 0
  h1
    margin-top: 16px
    color: #3f7be0
    font-size: 36px
    line-height: 40px
    font-family: mircosoft yahei
  .tag_wall
    width: 900px
    height: 450px
    -moz-border-radius-topright: 15px
    -moz-border-radius-topleft: 15px
    -webkit-border-top-left-radius: 15px
    -webkit-border-top-right-radius: 15px
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    overflow: hidden
    .list
      height: 150px
      overflow: hidden

    .item
      width: 150px
      height: 150px
      border: 0
      float: left
      overflow: hidden
      position: relative
      a
        margin: 0
        color: #fff
        text-decoration: none
        display: block
        width: 150px
        height: 150px
      .content
        height: 150px
      .tag
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important
        -moz-border-radius: 10px
        webkit-border-radius: 10px
        border-radius: 10px
        position: absolute
        bottom: 8px
        left: 8px
        padding: 2px 6px

    .text
      .content
        padding: 12px
        line-height: 24px
        font-size: 18px
        font-family: microsoft yahei
        background-color: #778eb3
      .gradient
        position: absolute
        top: 10px
        left: 0 
        right: 0
        bottom: 0
        background: url('/images/tag_gradient.png') no-repeat 0 0 transparent

    .left
      a, .content
        -moz-border-radius-topleft: 15px
        -webkit-border-top-left-radius: 15px
        border-top-left-radius: 15px
    .right
      a, .content      
        -moz-border-radius-topright: 15px
        -webkit-border-top-right-radius: 15px
        border-top-right-radius: 15px

  .tag_list
    width: 898px
    height: auto
    padding-top: 30px
    padding-bottom: 35px
    border-left: 1px solid #dcdcdc
    border-right: 1px solid #dcdcdc
    border-bottom: 1px solid #dcdcdc
    -moz-border-radius-bottomleft: 15px
    -moz-border-radius-bottomright: 15px
    -webkit-border-bottom-left-radius: 15px
    -webkit-border-bottom-right-radius: 15px
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    .title
      width: 880px
      height: 30px
      overflow: hidden  
      margin: 0 auto
      background-color: #f4f4f4
      div
        width: 340px
        color: #000
        font-size: 18px
        font-family: "microsoft yahei"
        line-height: 30px
        float: left
        padding-left: 10px
        margin-left: -1px
        border-left: 1px solid #eaeaea
    .row
      width: 880px
      height: 40px
      margin: 10px auto 0 auto
      border-bottom: 1px solid #eaeaea
      .tag_name
        width: 340px
        height: 40px
        float: left
        overflow: hidden
        padding-left: 10px
        .new
          color: #fff
          background-color: #009fff
          @include border-radius(5px)
          height: 10px
          font-size: 12px
          font-family: "arial"
          padding: 2px 5px 1px 5px
          margin-left: 5px
          vertical-align: middle
        a
          font-size: 24px
          font-family: microsoft yahei
          line-height: 40px
          text-decoration: none
          color: #3f7be0
      .activity
        width: 400px
        height: 40px
        float: left
        padding-right: 40px
        .item
          height: 28px
          width: 10px
          float: left
          overflow: hidden
          margin: 0px 5px 0 5px
          position: relative
          div
            height: 28px
            width: 10px
            position: absolute
            bottom: 0
            background-color: #ace84e
