.timeline
  width: 680px
  float: left

.site .editors
  width: 198px
  height: auto
  font-size: 14px
  color: #8e9494
  font-family: microsoft yahei
  line-height: 16px
  float: right
  border: 1px solid #dcdcdc
  padding: 10px 0
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  border-radius: 15px
  overflow: hidden
  .title
    width: 196px
    height: 30px
    margin: 15px 0 0 10px
  .list
    width: 196px
    height: auto
    padding: 0
  .item
    width: 198px
    height: 40px
  &.item .logo
    width: 42px
    height: 40px
    float: left
  .item
    .logo img
      background: url('images/test_009.gif') no-repeat
      margin: 5px 5px 3px 10px
      border: 0
    .page_name
      width: 130px
      height: 40px
      padding: 0
      float: left
      overflow: hidden
      a
        width: 130px
        color: #ff9933
        font-size: 14px
        margin-left: 3px
        display: block
        line-height: 38px
        text-decoration: none
        float: left
    .follow
      width: 20px
      height: 40px
      float: right
      a
        width: 14px
        height: 14px
        margin: 12px 10px 0 0
        display: block
        background: url('/images/icons.gif') -20px 0px
        overflow: hidden
