.start_page 
  h1
    width: 750px
    padding-top: 50px
    font-size: 30px
    line-height: 300%
    margin: auto
    color: #68AADB
    font-weight: normal
    _font-weight: bold

  h2
    color: #68879F
    font-size: 20px
    font-weight: normal
    _font-weight: bold


  form.login, 
  form.register
    width: 480px
    padding: 80px 140px
    background-color: #f2f6f9
    margin: 0 auto 30px auto
    -moz-border-radius: 20px
    -webkit-border-radius: 20px
    border-radius: 20px
    border: 1px solid #cadbea

    .register
      padding-top: 30px

  .register_title
    padding-top: 0px

  label
    color: gray

  .nick_box,
  .email_box,
  .password_box
    width: 500px
    padding: 5px 0 5px 20px
    font-size: 20px
    height: 45px
    line-height: 45px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px
    border-radius: 8px
    border: 1px solid #cadbea
    background: #fff

    input
      border: 0
      height: 40px
      line-height: 40px
      font-size: 20px
      width: 360px

  .submit_box input
    display: block
    margin: auto
    width: 180px
    height: 44px
    border: 0px
    cursor: pointer

  .login .submit_box input
    background: url('/images/login_submit.gif')

  .register .submit_box input
    background: url('/images/register_submit.gif')
  .error
    line-height: 45px
    color: red
