* {
  margin: 0;
  padding: 0; }

ul, dl {
  list-style: none; }

img {
  border: 0; }

body {
  background: #070907; }

.site_max_size {
  overflow: hidden; }

.header {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 50px; }
  .header a.logo {
    display: inline;
    border: 0;
    width: 200px;
    height: 46px;
    background: url("/images/embed/logo_deep.gif");
    float: left;
    text-indent: -9999px; }

.wall {
  *zoom: 1;
  margin: 0 auto;
  position: relative; }
  .wall:after {
    content: ".";
    font-size: 0;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .wall .list {
    float: left;
    width: 180px;
    overflow: hidden; }
    .wall .list.store {
      float: none;
      visibility: hidden;
      height: 0; }
  .wall .item {
    max-height: 240px;
    overflow: hidden; }
    .wall .item a {
      color: white;
      text-decoration: none;
      outline: none;
      display: block; }
      .wall .item a img {
        width: 180px; }
  .wall .image {
    font-size: 0;
    line-height: 0; }
  .wall .text {
    padding: 8px;
    background: #009fff;
    font-size: 16px; }
  .wall .bg1 {
    background: #0952f6; }
  .wall .bg2 {
    background: #f70967; }
  .wall .bg3 {
    background: #8409f7; }
  .wall .bg4 {
    background: #00c21e; }
  .wall .bg5 {
    background: #f6ad09; }
  .wall .bg6 {
    background: #1e5578; }
  .wall .bg7 {
    background: #535331; }
  .wall .bg8 {
    background: #7b7d6f; }
  .wall .bg9 {
    background: #3f758b; }
  .wall .bg10 {
    background: #794c3d; }
  .wall .bg11 {
    background: #ae9548; }
  .wall .bg12 {
    background: #956db5; }
