- @sub_title = '回复_宽岛'
- content_for :title, @sub_title

.reply_list
  %h1<
    回复&nbsp;
    - if current_user.comments_notices.unreads.count > 0
      %a{ :href => "/buzz/readall", :data => { :widget => "rest", :md => "put",
      :callback => "redirect" } }<
        全部标识为已读
    
  .timeline{ :data => { :widget => "sugar" } }
    - @buzz_list.each do |b|
      - if p = b.post
        .article.tar_post{ :class => (b.unread? ? "new_reply" : "") }
          .avatar
            .image<
              %a{href: blog_path(p.blog)}<
                =image_tag p.blog.icon.url_for(:medium)
            %div<
              %a.page_name{href: blog_path(p.blog)}= p.blog.title
          .content= render_post p
  = pagination(@buzz_list)
