.following.middle_box
  %h1
    ="我关注了#{@blogs.length}个页面"

  - @blogs.each do |blog|
    .follower
      .avatar
        %a{href: fucking_url_for(blog)}
      .fo_name
        %a{href: fucking_url_for(blog)}
          = blog.title
      .btn_unfollow
