@charset "utf-8";

/******main********/
* {
    outline: 0 none;
}
body{
	margin:0px;
	font-size:12px;
	font-family:Hiragino Sans GB,hei,microsoft yahei;
}

a{ 
	text-decoration:none;
	color:#336DFF;
}
a:hover{ text-decoration:underline}

a.slight{
	color:#7eaedc;
}
span.slight{
	color:gray;
}

a.page_name{
	color:#f93;
	font-weight:bold;
	line-height:150%;
}

span.suggestion{color:#68879F;}

image{border:0;}
input {outline: none;}
textarea {outline: none;}

label{font-family:Hiragino Sans GB,hei,microsoft yahei;}

.clear_fix{clear:both}


/*******site*******/
.site{
	width:900px;
	margin:auto;
	overflow:hidden;
}

.site_middle_size{
	width:750px;
	margin:auto;
	overflow:hidden;
}

/******header******/
.header {margin-top:5px;height:50px;}

.header a.logo{
	display:block;
	border:0;
	width:270px;
	height:46px;
	background:url('images/logo.gif');
	float:left;
}

.header .navigator
{
	margin-left:270px;
	text-align:right;
}

.header .dash_navigator
{
	margin-left:210px;
	padding-top:10px;
	padding-right:6px;
	text-align:right;
	font-size:12px;
	line-height:14px;
	color:#8E9494;
}

.header .dash_navigator .invite{
	width:180px;
	border:1px solid;
	border-color:#C4C7BD #EFEFEF #F2F2F2 #D2D5CA;
	padding:2px;
}

.header .dash_navigator *{
	color:#8E9494;
}

.header .dash_navigator .logout{
	display:inline-block;
	padding:0px;
	background:url('images/icons.gif') -80px -20px;
	overflow:hidden;
	width:14px;
	height:14px;
}

/********footer*********/
.footer{
	color:gray;text-align:center;
	padding:20px;
}

/*******middle_box********/


.middle_box{
	width:560px;
	padding:20px 90px;
	background-color:#f2f6f9;
	margin:30px auto;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #cadbea;
	overflow:hidden;
}

.middle_box h1{
	color:#68879F;
	font-size:20px;
	font-weight:normal;
	_font-weight:bold;
}

.middle_box h2{
	color:#68879F;
	font-size:14px;
	font-weight:normal;
	_font-weight:bold;
}

/*****account******/

.account .submit_box input {
	display:block;
	margin:auto;
	width:150px;
	height:44px;
	border:0px;
	cursor:pointer;
}


.account .nick_box, .account .email_box, .account .password_box{
	width:500px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	
}

.account .error {
	line-height:45px;
	color:red;
}

.account label{
	color:gray;
}

.account .nick_box input, .account .email_box input, .account .password_box input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:360px;
}


.account .submit_box input{
	background:url('images/post_save.gif');
}

/******** .messages ********/
 .messages .message{
	width:550px;
	padding:15px 0 5px 20px;
	font-size:14px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;

}

.messages .avatar{
	width:62px;
	height:62px;
	float:left;
        margin-bottom:8px
}

.messages .avatar_name a{
    color:#f93
}
.messages .avatar_name{
	font-weight:bold;
}

.messages .content{
    margin:0px 100px 10px 75px;
}

.messages .operation{
    float:right;
    width:80px;
    text-align:right;
    padding-right:18px;
    font-size:14px;
}

.messages .operation a{
    color:#68879F;
    text-decoration:underline
}

.messages div.new div.text{
	font-weight:bold;
	
}

/******follow and befollow and members*****/
.followers .follower, .following .follower, .members .member{
	width:550px;
	padding:15px 0 5px 20px;
	font-size:20px;
	height:70px;
	line-height:80px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
	
}

.followers .avatar, .following .avatar, .members .avatar{
	width:62px;
	height:62px;
	float:left;
}
.members .avatar .image{
	width:60px;
	height:60px;
	border:1px solid gray;
	margin-bottom:5px;
	background:url('images/avatar.jpg')
}

.followers .fo_name, .following .fo_name, .members .member_name{
	font-weight:bold;
	line-height:60px;
	font-size:14px;
	width:350px;
	padding-left:20px;
	float:left;
	height:60px;
	overflow:hidden;
}

.members .member_name{
  width:320px
}

.followers .fo_name a, .following .fo_name a, .members .member_name a{
	color:#f93;
}

.members .admin, .members .member_operation, .members .upgrade, .members .kick, .member .exit{
  font-size:14px;
  color:#68879F;
  text-align:center;
  line-height:70px
}
.members .upgrade, .members .kick, .member .exit{
  text-decoration:underline
}

.following .btn_unfollow{
	margin-top:20px;
	width:80px;
	height:20px;
	background:url('images/btn_unfollow.gif') no-repeat;
	float:left;
	cursor:pointer;
	overflow:hidden;
}

.followers .btn_follow{
	margin-top:20px;
	width:80px;
	height:20px;
	background:url('images/btn_follow.gif') no-repeat;
	float:left;
	cursor:pointer;
	overflow:hidden;
}
/*****new_contributor*****/
.new_contributor .apply_words{
	width:550px;
	padding:10px;
	font-size:20px;
	height:180px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}
.new_contributor .apply_words textarea{
  width:550px;
  height:170px;
  padding:5px;
  border:0px;
  font-size:18px
}

.new_contributor .submit_box input {
	display:block;
	margin:auto;
	width:150px;
	height:44px;
	border:0px;
	cursor:pointer;
}

.new_contributor .submit_box input{
	background:url('images/post_apply.gif');
}

.new_contributor .new_contributor_processed{
  font-size:20px;
  color:#68AADB;
  margin:80px 0px 120px 0px;
  line-height:200%
}

.new_contributor .new_contributor_processed a{text-decoration:underline}

/*****new page and edit page****/
.new_page .page_name{
	width:580px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
}

.new_page .page_url{
	width:540px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
}

.new_page .page_name_box{
	width:600px;
	height:60px;
	padding:0;
	font-size:20px;
	height:45px;
	line-height:45px;
	
}
.new_page .page_name_box .short_page_name{
	width:250px;
	padding:5px 0 5px 20px;
	-moz-border-radius:8px;
	-webkit-border-radious:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	float:left;
	margin-right:18px;
}



.new_page .short_page_name input{
	border:0;
	height:40px;
	line-height:40;
	font-size:20px;
	width:150px;
}

.new_page .page_name input, .new_page .page_url input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:270px;
}
.new_page .submit_box input {
	display:block;
	margin:auto;
	width:150px;
	height:44px;
	border:0px;
	cursor:pointer;
}

.new_page .submit_box input{
	background:url('images/create.gif');
}

.new_page .error {
	line-height:45px;
	color:red;
}

.new_page label{
	color:gray;
}

form.edit_page .submit_box input{
	background:url('images/post_save.gif');
}

.edit_page .page_logo {
	width:600px;
	padding:15px 0 5px 20px;
	font-size:20px;
	height:85px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}

.edit_page .page_logo label{
	display:block;
	width:60px;
	height:80px;
	float:left;
	text-align:center;
	font-size:14px;
}
.edit_page .page_logo input {
	display:block;
	width:200px;
	float:left;
	margin:20px 30px;
}
	
/******login + register ********/
.start_page h1{
	width:750px;
	padding-top:50px;
	font-size:30px;
	line-height:300%;
	margin:auto;
	color:#68AADB;
	font-weight:normal;
	_font-weight:bold;
}

.start_page h2{
	color:#68879F;
	font-size:20px;
	font-weight:normal;
	_font-weight:bold;
}

.start_page form.login, .start_page form.register {
	width:480px;
	padding:80px 140px;
	background-color:#f2f6f9;
	margin:0 auto 30px auto;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #cadbea;
}

.start_page form.register {
	padding-top:30px;
}
.start_page .register_title{
	padding-top:0px;
}

.start_page label{
	color:gray;
}
.start_page .nick_box, .start_page .email_box, .start_page .password_box{
	width:500px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	
}

.start_page .nick_box input, .start_page .email_box input, .start_page .password_box input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:360px;
}



.start_page .submit_box input {
	display:block;
	margin:auto;
	width:180px;
	height:44px;
	border:0px;
	cursor:pointer;
	}

.start_page .login .submit_box input{
	background:url('images/login_submit.gif');
	}
.start_page .register .submit_box input{
	background:url('images/register_submit.gif');
	}
		
.start_page .error {
	line-height:45px;
	color:red;
}








	
/******post********/

.post {
	margin:20px auto 0 auto;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	border-radius:15px;
	border:1px solid #cadbea;
	background:#f2f6f9;
	padding:0px 20px;}
.post h1{
	
	font-weight:normal;
	font-size:30px;
	color:#68879F;
}

.post .post_error{
	font-size:12px;
	color:red;
	font-weight:bold;
	padding-left:10px;
}

.post label{
	color:gray;
}


.post .option_text {
	display:block;
	margin-top:-20px;
	margin-bottom:30px;
	padding-bottom:25px;
}

.post .add_textarea {
	display:block;
	margin-top:-20px;
	margin-bottom:30px;
}

.post .new_title_starter {
	display:block;
	width:100px;
	float:left;
}

.post .rich_editor_starter {
	display:block;
	width:100px;
	float:right;
}
.post .file_image{
	clear:both;
	width:685px;
	padding:15px 0 5px 20px;
	font-size:20px;
	height:35px;
	line-height:35px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}

.post .url_image span{
	display: inline-block;
	width:130px;
	background:url('images/post_image_url.gif') no-repeat;
	cursor:pointer;
	line-height:30px;
	margin-top:9px;
	vertical-align:top;
}
.post .url_image input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:540px;
}

.post .file_image span {font-size:12px}
.post .file_image input {width:270px;margin-right:150px;}
.post .list_image {
	clear:both;
	width:685px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:75px;
	line-height:75px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;	
}
.post .list_image div{float:left;}
	
.post .list_image .the_drag_handle {
	width:14px;
	height:14px;
	margin-top:30px;
	margin-right:20px;
	background:url('images/icons.gif') -120px -20px;
	overflow:hidden;
	cursor:move;
}
.post .list_image .the_image {
	margin-top:6px;
	width:60px;
	height:60px;
	border:1px solid gray;
}
.post .list_image .the_text {
	width:520px;
	padding:0px 20px;
	margin-top:20px	;
}
.post .list_image .the_text input{
	width:480px;
	height:32px;
	border:1px solid gray;
	font-size:20px;
	line-height:32px;
}
.post .list_image .the_close {
	width:14px;
	height:14px;
	margin-top:10px;
	background:url('images/icons.gif') -100px -20px;
	overflow:hidden;
}
.post .image_url_starter{
	width:200px;
	display:bock;
	float:left
}
.post .text, .post .title_text, .post .url_link,  .post .title_link, .post .url_image{
	clear:both;
	width:685px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}
.post div.rich_text{padding:0px;}

.post .title_text input, .post .url_link input, .post .title_link input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:560px;
}

.post .text {
	height:180px;
}
.post .text textarea{
	border:0;
	height:180px;
	line-height:150%;
	font-size:20px;
	width:670px;
}

.post .operation{
	height:44px;
	margin-bottom:60px;
}
.post .page_selector{
	float:left;
	width:195px;
	height:44px;
}

.post .cancel{
	float:right;
	width:150px;
	height:44px;
	background:url('images/post_cancel.gif');
	cursor:pointer;
}

.post .send{
	width:150px;
	height:44px;
	background:url('images/post_send.gif');
	cursor:pointer;
}




/**************new_post************************************************/

.post .control{	
	float:left;
	width:620px;
	padding:0 20px 0 0;
	border-right:1px solid #dcdcdc;


	
}

.post .edit_post{
	width:190px;
    float:right;
    margin-top:-12px;
}

.post .edit_post h2{
	font-family:microsoft yahei;
	font-size:14px;
	line-height:18px;
	color:#7EAEDC;
	margin:30px 0 10px 0;
}

.post .edit_post input{
	border:1px solid #cadbea;
	width:184px;
	height:45px;
	font-size:20px;
	font-family:microsoft yahei;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
}



.post {
	width:auto
	margin:20px auto 0 auto;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	border-radius:15px;
	border:1px solid #cadbea;
	background:#f2f6f9;
	padding:0px 20px;
	_zoom:1;
	overflow:hidden;	

}
.post h1{	
	font-weight:normal;
	margin-top:20px;
	font-size:30px;
	color:#68879F;
}

.post .post_error{
	font-size:12px;
	color:red;
	font-weight:bold;
	padding-left:10px;
}

.post label{
	color:gray;
}

.post .file_image{
	clear:both;
	width:600px;
	padding:15px 0 5px 20px;
	font-size:20px;
	height:35px;
	line-height:35px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}

.post .text, .post .title_text, .post .url_link,  .post .title_link, .post .url_image{
	clear:both;
	width:600px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;
}

.post .text{
	height:180px;
}


.post .url_image span{
	display: inline-block;
	width:130px;
	background:url('images/post_image_url.gif') no-repeat;
	cursor:pointer;
	line-height:30px;
	margin-top:9px;
	vertical-align:top;
}
.post .url_image input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:450px;
}

.post .file_image span {font-size:12px}
.post .file_image input {width:200px;margin-right:150px;}
.post .list_image {
	clear:both;
	width:600px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:75px;
	line-height:75px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
	margin-bottom:30px;	
}
.post .list_image div{float:left;}
	
.post .list_image .the_drag_handle {
	width:14px;
	height:14px;
	margin-top:30px;
	margin-right:20px;
	background:url('images/icons.gif') -120px -20px;
	overflow:hidden;
	cursor:move;
}
.post .list_image .the_image {
	margin-top:6px;
	width:60px;
	height:60px;
	border:1px solid gray;
}
.post .list_image .the_text {
	width:420px;
	padding:0px 20px;
	margin-top:20px	;
}
.post .list_image .the_text input{
	width:420px;
	height:32px;
	border:1px solid gray;
	font-size:20px;
	line-height:32px;
}
.post .list_image .the_close {
	width:14px;
	height:14px;
	margin-top:10px;
	background:url('images/icons.gif') -100px -20px;
	overflow:hidden;
}
.post .image_url_starter{
	width:200px;
	display:bock;
	float:left
}
.post .text textarea{
	border:0;
	height:180px;
	line-height:150%;
	font-size:20px;
	width:570px;
}

.post .title_text input, .post .url_link input, .post .title_link input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:420px;
}











/***dashboard***/

.dashboard{margin-top:24px;}
.dashboard .menu{
	padding-top:4px;
	width:186px;
	padding-left:14px;
	float:right;
	overflow:hidden;
}
.dashboard .menu a{
	color:#8e9494;
	text-decoration:none;
}

.dashboard .menu .page_operation{
	margin:0px 10px;
}

.dashboard .menu .page_operation{
	line-height:24px;
}
.dashboard .menu span{
	vertical-align:middle;
	cursor:pointer;
	}

.dashboard .menu_arraw{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -20px -20px;
	overflow:hidden;
}

.dashboard .icon_create{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -20px 0px;
	overflow:hidden;	
}
.dashboard .text_follow, .dashboard .text_reply, .dashboard .text_message, .dashboard .text_collect{
		display: inline-block;
		width:134px;
		line-height:14px;
}

.dashboard .icon_reply{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -160px 0px;
	overflow:hidden;
}

.dashboard .icon_follow{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') 0px -20px;
	overflow:hidden;
}

.dashboard .icon_follow2{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') 0px 0px;
	overflow:hidden;
}

.dashboard .icon_followed{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -60px 0px;
	overflow:hidden;
}

.dashboard .icon_collect{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -40px 0px;
	overflow:hidden;
}

.dashboard .icon_message{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -180px -20px;
	overflow:hidden;
}
	
.dashboard .icon_config{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -80px 0px;
	overflow:hidden;
}

.dashboard .icon_members{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -180px 0px;
	overflow:hidden;	
	
}

.dashboard .icon_remove{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -100px 0px;
	overflow:hidden;
}

.dashboard .icon_posts{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -140px 0px;
	overflow:hidden;
}

.dashboard .icon_view{
	display: inline-block;
	width:14px;
	height:14px;
	background:url('images/icons.gif') -140px -20px;
	overflow:hidden;
}

.dashboard .dash_operation hr{
	width:80%;
	color:#ddd;
	height:1px;
	border:0px;
	border-top:1px solid #ddd;
	margin:0px 0px 5px 0px;
	padding:0px;
	overflow:hidden
}

.dashboard .main{
	width:700px;
	float:left;
	overflow:hidden;
}

.dashboard .timeline{
		padding-top:12px;
		margin-left:20px;
}

.dashboard .head{
	background: url('images/dash_.gif') no-repeat;
	width:900px;
	height:130px;
	overflow:hidden;

}

.dashboard .head_avatar{
	width:60px;
	height:60px;
	background:url('images/test002.jpg');
	-moz-border-radius:6px;
	border-radius:6px;
	border-bottom: 1px solid #333;
	margin:20px;
	float:left;
}

.dashboard .post_area{
	margin-left:60px;
}

.dashboard .post_area div{
	height:100px;
	float:left;
}
.dashboard .post_area a{
	display:block;
	width:126px;
	height:80px;
	overflow:hidden;
	float:left;
	margin-top:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-position:0px -6px;
	text-indent: -100px;
}
.dashboard .post_area a:hover{
	background-color: #2660c2;
}

.dashboard .post_area a:active{
	background-color: #009fff;
}

.dashboard .post_area .left{
	width:50px;
}

.dashboard .post_area .text{
	background-image:url('images/dash_text.gif');
}

.dashboard .post_area .picture{
	background-image:url('images/dash_picture.gif');
}

.dashboard .post_area .link{
	background-image:url('images/dash_link.gif');
}

.dashboard .post_area .video{
	background-image:url('images/dash_video.gif');
}

.dashboard .head_menu{
	width:180px;
	height:55px;
	overflow:hidden;
	float:right;
	padding-top:45px;
	padding-right:5px;
}

.dashboard .head_menu a{
	display:block;
	width:20px;
	float:left;
	text-decoration: none;
	margin:0px 10px;
	color:#cfe9ff;
	*text-align:center;
	cursor:pointer;
}

.dashboard .head_menu span{
	display:block;
	height:20px;
	text-indent: -1000px;
}
.dashboard .head_menu .my_follow{
	height:20px;
	background:url('images/icon.gif') 0px -40px no-repeat;
}

.dashboard .head_menu .my_collect{
	height:20px;
	background:url('images/icon.gif') -20px -40px no-repeat;
}

.dashboard .head_menu .my_reply{
	height:40px;
	background:url('images/icon.gif') -40px -40px no-repeat;
}

.dashboard .head_menu .my_message{
	height:40px;
	background:url('images/icon.gif') -60px -40px no-repeat;
}

.dashboard .head_txt{
	line-height:40px;
	margin-left:20px;
}

.dashboard .head_txt a{
	text-decoration: none;
}

/****page_control***/
.page_control {
	margin-left:413px;
}

.page_control a, .page_control .page_number{
	display:block;
	float:left;
	text-decoration:none;
}

.page_control .page_left, .page_control .page_right{
	height:26px;
	line-height:26px;
	width:108px;
	background:#009fff;
	color:white;
	font-size:14px;
	text-align:center;
}
.page_control .page_number{
	width:60px;
	font-size:22px;
	line-height:26px;
	font-weight:bold;
	text-align:center;
	font-family:Helvetica,Arial,sans-serif;
	color:#666;
}

.number_page_control {
	text-align:right;
	padding:30px 60px;
}

.number_page_control a{
	text-decoration: none;
	color:white;
    background-color: #009FFF;
    border-color: #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    font-size:18px;
    padding:10px;
    font-weight: bold;
    margin-left:5px;
}

.number_page_control a.clicked{
	background:none;
	border:0;
	color:#444;
}

.number_page_control a:hover{
	    background-color: #528ef2;
	    color:white;
}


/****my_pages****/
.my_pages a{
	color:#8e9494;
	text-decoration:none;
}
.my_pages .selector_open{
	width:186px;
	font-weight:bold;
	font-size:14px;
	overflow:hidden;
	color:#777777;
}

.my_pages .selector_open_head{
	background:url('images/mypages_open1.png');
	width:166px;
	height:14px;
	padding:5px 10px;
	overflow:hidden;
}
.my_pages .selector_open_menu{
	width:166px;
	background:url('images/mypages_open2.png') repeat-y;
	padding:0px 10px;
	line-height:24px;
}
.my_pages .selector_open_footer{
	width:186px;
	background:url('images/mypages_open3.png');
	height:50px;
	text-align:center;
	line-height:50px;
}

.my_pages .selector_open_footer a{
	display:block;
	color:#336DFF;
	line-height:50px;
	}


.my_pages .selector {
	display:block;
	width:148px;
	height:34px;
	cursor:pointer;
	line-height:34px;
	font-weight:bold;
	font-size:14px;
	padding-left:10px;
	padding-right:28px;
	overflow:hidden;
	color:#777777;
}
.my_pages div.selector{
	background:url('images/mypages_close.png');
}
.my_pages a.selector{
	background:url('images/mypages_close_a.gif');
	color:#777777;
}

.my_pages a.selector:hover{
	background:url('images/mypages_close.png');
}


/****Article****/
.article{
	clear:both;
	margin-bottom:25px;
}
.article .avatar{
	width:62px;
	float:left;
}
.article .avatar .image{
	display:block;
	width:60px;
	height:60px;
	background:url('images/test002.jpg');
	-moz-border-radius:6px;
	border-radius:6px;
	border-bottom: 1px solid #333;
	margin-bottom:5px;
}

.article .avatar .image a{
	display:block;
	width:60px;
	height:60px;
	text-decoration: none;
}

.article .page_name{
	word-wrap:break-word;
}

.article .content_head{
	margin-right:-10px;
}
.article .content_head a, .article .content_footer .right a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	overflow:hidden;
	margin:16px 0px 16px 16px;
	text-decoration:none;
}
.article .content_footer .middle, .article .content_footer .left{
    margin-top:12px
}
.article .content_head .fave{
	background:url('images/post_btn.gif') 0px -20px;
}
.article .content_head a.fave:hover{
	background:url('images/post_btn.gif');
}

.article .content_head .faved{
	background:url('images/post_btn.gif') 0px -60px;
}
.article .content_head a.faved:hover{
	background:url('images/post_btn.gif') 0px -40px;
}


.article .content_head .repost{
	background:url('images/post_btn.gif') -20px -20px;
}

.article .content_head a.repost:hover{
	background:url('images/post_btn.gif') -20px 0px;
}

.article .content_head .edit{
	background:url('images/post_btn.gif') -40px -20px;
}

.article .content_head a.edit:hover{
	background:url('images/post_btn.gif') -40px 0px;
}

.article .content_head a.remove{
	background:url('images/post_btn.gif') -60px -20px;
}
.article .content_head a.remove:hover{
	background:url('images/post_btn.gif') -60px 0px;
}

.article .content_footer .right .open{
	background:url('images/post_btn.gif') -80px -20px;
}

.article .content_footer .right a.open:hover{
	background:url('images/post_btn.gif') -80px 0px;
}

.article .content_footer .right a.reply{
	background:url('images/post_btn.gif') -100px -20px;
}
.article .content_footer .right a.reply:hover{
	background:url('images/post_btn.gif') -100px 0px;
}




.article .content{
	margin-left:77px;
	*margin-left:75px;
	width:600px;
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	border-radius:15px;
	border:1px solid #dcdcdc;
	overflow:hidden;
}
.article .content_head{
	height:50px;
	padding:0px 25px;
}


/******************************tags*********************************/
.content_footer .tags{
	height:14px;
	font-size:12px;
	line-height:14px;
	position:relative;
	bottom:-15px;
	
}

.content_footer .tags a{
	display:block;
	text-decoration:none;
	float:left;
	margin-right:5px;
	color:#888888;
}

.content_footer .tags a:hover{
	text-decoration:underline;
	color:#3f7be0;
}




.article .content_footer{
	padding:20px 15px 0px 15px;
	height:30px;
	line-height:30px;
}
.article .content_footer .left{
	width:200px;
	float:left;
}

.article .content_footer .middle{
	margin-left:200px;
	margin-right:100px;
}

.article .content_footer .right{
	width:100px;
	float:right;
}

.article .writer_name a{
	color:#888888;
	font-size:14px;
}
.article .update_time{
	font-size:10px;
	font-family: Arial, Verdana;
	color:#888888;
}


.article .content_body{
	padding:0px 50px;
	font-size:14px;
}


/*****chat*****/

.chat{width:544px; height:428px; margin:16px;padding:12px; border:1px solid #dcdcdc; background:#f4f4f4;}
.chat *{font-size:14px;}
.chat span.c_date{font-size:12px;color:#009a93;}
.chat .c_name a{color:#009a93;text-decoration:none;}
.chat .c_content{height:390px;overflow-y:auto;overflow-x:hidden;color:#1d1d1d;padding:0;margin:0;}
.chat .c_content .box{margin:0 0 12px 0;height:auto;}
.chat .c_content .box div{margin:0 0 5px 0;}
.chat .c_input{width:544px; height:30px;background-color:#009fff;margin-top:10px;border:1px solid #1d1d1d;overflow:hidden;}
.chat .c_input input {width:100%;height:30px;border:0px;padding:0px;margin:0px;line-height:30px;font-size:18px;}
.chat .c_input .txt{width:470px;background-color:white;padding-top:1px;padding-left:8px;border-right:1px solid black;float:left;}
.chat .c_input .c_submmiter{width:60px;float:left;}
.chat .c_input .c_submmiter input{width:65px;_line-height:38px;background-color:#009fff;color:#ffffff;text-align:center;cursor:pointer;}	

/****temp and gears*****/
.the_kt_gear .weburl{
	clear:both;
	width:500px;
	padding:5px 0 5px 20px;
	font-size:20px;
	height:45px;
	line-height:45px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #cadbea;
	background:#fff;
}

.the_kt_gear .weburl input{
	border:0;
	height:40px;
	line-height:40px;
	font-size:20px;
	width:360px;
}
.the_kt_gear .submiter {
	text-align:center;
	margin:30px 0px;
}
.the_kt_gear .submiter input{
	width:130px;
	height:30px;
	background:url('images/post_image_url.gif') no-repeat;
	cursor:pointer;
	overflow:hidden;
	border:0;
}

.the_kt_gear .error {
	line-height:45px;
	color:red;
}

.the_kt_gear .success {
	line-height:45px;
	color:#68879F;
	font-size:14px;
	font-weight:bold;
}

.the_kt_gear .error input{
	border:1px solid;
	border-color:#C4C7BD #EFEFEF #F2F2F2 #D2D5CA;
	padding:2px;
}

/*lookaround*/
.latest h1{
	margin:18px 0 22px 0;
	color:#3f7be0;	
}

/***customize****/
.customize .nav{
	background:url("images/customize_menu_bg.png") repeat-x scroll 0 0 #EEEEEE;
	height:40px;
	min-width:950px;
	padding-left:10px;
}

.customize .nav a{
	display:block;
	float:left;
	height:40px;
	line-height:38px;
	padding:0 12px;
	text-decoration:none;
	color:#555555;
	font-size:18px;
	cursor:pointer;
}

.customize .nav a.clicked{
	background:url("images/customize_menu_bg_active.png") repeat-x scroll 0 0 #2E6DCC;
	color:#ffffff
}

.customize .nav span{
	float:right;
	line-height:40px;
	padding-right:10px;
}
.customize div.error{
	height:30px;
	font-size:12px;
	color:red;
	line-height:30px;
}

.customize .nav input, .customize .themes input, .customize .reset{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #aaa;
    border-color: #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #B6B6B6;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size:14px;
    padding: 6px 10px;
    text-decoration: none;
    _padding:6px 10px 0px 10px;
    _margin-top:5px;
}

.customize .nav input.save{
	background:#57c328;
}

.customize .menu{
	background:url("images/white_95.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #DDDDDD;
    padding:15px;
    font-size:18px;
    color:#444444;
    position: absolute;
}

.customize h1{
	margin:0px 0px 8px 0px;
	padding:0px;
	font-size: 18px;
	font-weight: bold;
}

.customize .info{
	width:380px;
	height:530px;
	left:10px;
}

.customize .info input, .customize .info textarea{
    background: url("images/input_bg.gif") repeat-x scroll center top #FFFFFF;
    border: 1px solid #DDDDDD;
	padding: 5px;
    font-size: 18px;

}

.customize .info .title{
    width: 368px;
    max-width: 368px;
    min-width: 368px;
}

.customize .info .link{
	width:240px;
    max-width: 240px;
    min-width: 240px;
    display:block;
    float:left;
    text-align:right
}
.customize .info span{
	display:block;
	float:left;
	padding-top:8px
}

.customize .info textarea{
	height:150px;
	font-size:12px;
    width: 368px;
    max-width: 368px;
    min-width: 368px;
}

.customize .info img{
	vertical-align:top
}

.customize .info .image{
	    width: 200px;
	    font-size:12px;
	    overflow:hidden;
	    display:inline;
	    margin-left:10px;
}

.customize .themes {
	width:750px;
	height:530px;
	left:69px;
}

.customize .themes .pool{
	width:750px;
	height:480px;
	overflow-y:auto;
	overflow-x:hidden;
}


.customize .theme {
    float: left;
    margin-right: 20px;
    margin-top: 17px;
    overflow: hidden;
    width: 215px;
}

.customize .pool span {
    border: 7px solid #E2E2E2;
    cursor: pointer;
    display: block;
    height: 120px;
    overflow: hidden;
}

.customize div.pool div.clicked span{
    border: 7px solid #F9D853;
}

.customize .pool .shadow {
    background: url("images/customize_theme_shadow.png") no-repeat scroll center center transparent;
    height: 9px;
    line-height:9px;
    font-size:1px;
}


.customize .pool div {
    font-weight:bold;
    font-size:14px
}

.customize .theme div a{
    font-weight:normal;
    color:gray;
    text-decoration:none;
}

.customize div.themes input{
	margin-top:15px;
	background:#57c328;
}

.customize .appearance{
	width:320px;
	height:530px;
	left:130px;	
}

.customize .appearance select{
	font-size:18px;
	width:130px
}

.customize .appearance .colors{
	height:40px;
	line-height:40px;
	margin-bottom:10px;
}

.customize .appearance .color_pick {
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    float: left;
    height: 38px;
    margin-right: 10px;
    width: 50px;
}

.customize .appearance .fonts, .customize .appearance .booleans, .customize .appearance .images {
	padding:8px 0px;
}

.customize .appearance .fonts span{
	margin-right:3px
}

.customize .appearance .images input{
	width:130px;
	font-size:10px;
	margin-left:3px
}
.customize .appearance .images a{
	margin-left:3px;
	text-decoration: none;
	color:white;
    background-color: #aaa;
    border-color: #C8C8C8 #B6B6B6 #B6B6B6 #C8C8C8;
    border-radius: 5px 5px 5px 5px;
    font-size:14px;
    padding:4px 7px;
}

.customize .appearance .booleans input{
	font-size:18px;
}

.customize .appearance .booleans label{
	margin-left:3px;
}

.customize .appearance .theme_defined{
	height:480px;
	overflow:auto;
}

.customize input.reset{
	margin-top:15px;
	display:block;
}

.customize .advanced{
	width:320px;
	height:100px;
	left:225px;	
}

.customize .advanced .item{
	padding:8px 0px
}

.customize .advanced .item label{
margin-left:3px
}





/*reply_list*/
.reply_list h1{
	margin:30px 0px;
	color:#009fff;
}

.reply_list h1 a{
	font-size:12px;
	text-decoration:underline;
	cursor:pointer;
}

div.new_reply .content_footer .right a.reply{
	background:url('images/post_btn.gif') -100px -60px;
}

div.new_reply .content_footer .right a.reply:hover
{
	background:url('images/post_btn.gif') -100px -40px;
}	

.e403 { display: block; background: url('images/403.gif') no-repeat; width: 700px; height: 500px; margin: auto; }
.e404 { display: block; background: url('images/404.jpg') no-repeat; width: 700px; height: 605px; margin: auto; }
.e500 { display: block; background: url('images/500.gif') no-repeat; width: 700px; height: 500px; margin: auto; }
.e404_words, .e403_words, .e500_words { width: 500px; font-size: 20px; margin: auto; }



/************explore*************/



.explore{
	width:900px;
}	
.explore a{
	color:#ffffff;
	text-decoration:none;
}

.explore h1{
	margin-top:16px;
	color:#3f7be0;
	font-size:36px;
	line-height:40px;
	font-family:mircosoft yahei;

}
.explore .tag_wall{
	width:900px;
	height:450px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	overflow:hidden;
	padding:0;
	margin:0;

}

.explore .tag_wall .text_box{
	height:150px; 	
	width:150px;
	background-color:#f70967;
	overflow:hidden;
	position:relative;
	padding:0;
	float:left;
	
}

.explore .tag_wall .text_box .title{
	margin:12px;
	line-height:24px;
	font-size:18px;
	font-family:microsoft yahei;
	
}

.explore .tag_wall .text_box .title img{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:0;
}

.explore .tag_wall .text_box .gradient{
	background:url('images/tag_bg1.png') no-repeat scroll transparent;
	position:absolute;
    top:110px;
    left:0;
    bottom:0;
    right:0;
}

.explore .tag_wall .text_box .tag{
	background:none repeat scroll 0 0 rgba(0,0,0,0.5)!important;
	-moz-border-radius:10px;
	webkit-border-radius:10px;
	border-radius:10px;
	position:absolute;
    bottom:8px;
	left:8px;
	padding:2px 6px;	
}

.explore .tag_wall .text_box .tag a{
	color:#dcdcdc;

}

.explore .tag_list{
	width:898px;
	height:auto;
	padding-top:30px;
	padding-bottom:35px;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.explore .tag_list .row{
	width:898px;
	height:40px;
	margin-top:10px;
}

.explore .tag_list .row .tag_name{
	width:340px;
	height:40px;
	float:left;
    padding-left:50px;
}

.explore .tag_list .row .tag_name a{
	font-size:24px;
	font-family:microsoft yahei;
	line-height:40px;
	text-decoration:none;
	color:#3f7be0;
	display:block;
	
}

.explore .tag_list .row .activity{
	width:400px;
	height:40px;
	float:right;

}

.explore .tag_list .row .activity div{
	width:15px;
	height:40px;
	background-color:#3f7be0;
	float:left;
	margin:0px 5px 0 5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

.explore .tag_list .row .activity span{
	width:15px;
	height:40px;
	background-color:#1f55b0;
	float:left;
	margin:0px 5px 0 5px;
	display:block;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}


/*******************tags page*********************/



.tag_page{
	width:680px;
	float:left;
}

.site .editors{
	width:198px;
	height:auto;
	font-size:14px;
	color:#8e9494;
	font-family:microsoft yahei;
	line-height:16px;
	float:right;
	border:1px solid #dcdcdc;
	padding:8px 0;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	overflow:hidden;
	
}





.site .editors .list{
	width:196px;
	height:auto;
    padding:0;
    margin:0;
}


	


.site .editors .item{
	width:198px;
	height:40px;

}
  
.site .editors  .item .logo{
	width:30px;
	height:30px;
	float:left;
 
}

.site .editors .item .logo a img{
	width:24px;
	height:24px;
	background:url('images/user.gif') no-repeat;
	margin:8px 5px 2px 10px;
	border:0;
}

	



.site .editors .item .page_name{
	width:122px;
	height:40px;
	padding-left:10px;
	float:left;
	overflow:hidden;
}


.site .editors .item .page_name a{
	width:130px;	
	color:#ff9933;
	font-size:14px;
    margin-left:6px;
    _margin-left:-5px;
	line-height:38px;
	text-decoration:none;
	float:left;

	
}

	
.site .editors .item .follow{
	width:24px;
	height:40px;
	float:right;

}

.site .editors .item .follow a{
	width:14px;
	height:14px;
	margin:12px 12px 0 0;
	display:block;
	background:url('images/icons.gif') -20px 0px;
	overflow:hidden;
}





