!!!
%html
%head
  %title 403_宽岛
  :css
    .e403 { display: block; background: url('/images/403.gif') no-repeat; width: 700px; height: 500px; margin: auto; }
    .e403_words { width: 500px; font-size: 20px; margin: auto; }
%body
  %a.e403{href: fucking_root}
  .e403_words<
    %a{href: fucking_root}<
      - if @message.nil?
        您正在访问的是私密页面
      - else
        = @message
      ，请返回查看其他页面
