.search_bar{data: {widget: 'search'}}
  %form{action: action, method: "get"}
    %input.key{type: "text", alt: "搜索"+alt, data: {widget: "overtext"}, name: "q"}
    %input.scope{type: "hidden", value:scope}
    %a.submit{href: "#"} 搜索
