<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>{{title}}</title>
    <link href="/stylesheets/blog_show.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/post_display.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/mootools-core.js" type="text/javascript"></script>
    <script src="/javascripts/rails.js" type="text/javascript"></script>
    <script src="/javascripts/mootools-more.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/post_display.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class='commands'>
        <a class='back_to_home' href='{{home_url}}'>
          回我的主页
        </a>
      </div>
      <div id='title'>
        <a href='{{url}}'>
          {{title}}
        </a>
      </div>
      <div id='content'>
        {{#posts}}
          <div class='post {{type}}'>
            <div class='content_body'>
              {{#text}}
                {{title}}
                <br />
                {{content}}
              {{/text}}
              {{#photo_single}}
                {{content}}
              {{/photo_single}}

              {{#link}}
                <a href="{{link_url}}">{{title}}</a>
                <p>{{content}}</p>
              {{/link}}
              {{#video}}
                {{video_code_500}}
                {{content}}
              {{/video}}
            </div>
            <div class='content_footer'>
              <div class='left'>
                {{#author}}
                <span class='writer_name'><a href='{{user_url}}'>
                  {{name}}
                </a></span>
                {{/author}}
              <span class='update_time'>{{create_date}}</span></div>
              <div class='right'>
                <a class='reply' target='_blank' href='{{url}}'>{{comments_count}}</a>
                <a class='open' href='{{url}}' target='_blank' title='展开'></a>
              </div>
            </div>
            {{#post_single}}
              {{{load_comments}}}
            {{/post_single}}
          </div>
        {{/posts}}
        <div id='navigation'>
          {{pagination}}
        </div>
      </div>
      <div id='sidebar'>
        <div id='top'>
          <div id='avatar'>
            <a href='{{url}}'>
              <img src='{{icon_180}}' />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
