<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8'></meta>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>{{title}}</title>
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="/feed" />
    <link href="/stylesheets/post_display.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blog_show.css" media="screen" rel="stylesheet" type="text/css" />
    <meta name="description" content="{{meta_desc}}"></meta>
    {{#define}}
    color background 背景颜色 #fff
  	bool 	show_followers 显示关注的页面 1
  	bool	show_pages 显示我所有的页面 1
    {{/define}}
    <style type='text/css'>
      body {
        background-color: {{color_background}};
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id='title'>
        <a href='{{url}}'>
          {{title}}
        </a>
      </div>
      <div id='content'>
        {{#posts}}
        <div class='post {{type}} {{post_type}}'>
            <div class='content_head'>
              {{#repost_tag}}
              转帖
              {{/repost_tag}}
              {{#fave_tag}}
              喜欢
              {{/fave_tag}}
            </div>
            <div class='content_body'>
              {{#text}}
                {{title}}
                <br />
                {{content}}
              {{/text}}
              {{#photo_single}}
                {{#photos}}
                  <a target="_blank" href="{{image_original}}">
                    <img src="{{image_500}}" title="{{desc}}" />
                  </a>
                  <p>{{desc}}</p>
                {{/photos}}
                <p>
                  {{content}}
                </p>
              {{/photo_single}}

              {{#photo_set}}
                {{#photos}}
                  <a target="_blank" href="{{image_original}}">
                    <img src="{{image_500}}" title="{{desc}}" />
                  </a>
                  <br />
                {{/photos}}
                {{content}}
              {{/photo_set}}

              {{#link}}
                <a href="{{shared_url}}">{{title}}</a>
                <p>{{content}}</p>
              {{/link}}

              {{#video}}
                {{video_code_500}}
                {{content}}
              {{/video}}
              {{#audio}}
                <div>
                  <img src="{{album_art_100}}" /><br /><br />
                  {{#post_single}}
                    {{player_code_autoplay}}
                  {{/post_single}}
                  {{#post_index}}
                    {{player_code}}
                  {{/post_index}}
                </div>
                {{content}}
              {{/audio}}
            </div>
            <div class='content_footer'>
              <div class="tags">
                {{#has_tag}}
                {{#tags}}
                <a href="{{url}}">{{name}}</a>
                {{/tags}}
                {{/has_tag}}
              </div>
              <div class='left'>
                {{#author}}
                <span class='writer_name'><a href='{{user_url}}'>
                  {{name}}
                </a></span>
                {{/author}}
              {{#create_date}}
              <span class='update_time'>
                {{month_number_with_zero}}.{{day_of_month}}
                {{24hour_with_zero}}:{{minutes}}
              </span>
              {{/create_date}}
            </div>
              <div class='right'>
                {{#post_index}}
                <a class='reply' target='_blank' href='{{url}}'>{{comments_count}}</a>
                {{/post_index}}
                {{#post_single}}
                <span class='reply'>{{comments_count}}</span>
                {{/post_single}}
              </div>
              <div class="middle">
                {{#has_repost}}
                {{#parent}}
                <a href="{{url}}">{{title}}</a>&#8594;
                {{/parent}}
                {{/has_repost}}
              </div>
            </div>
            {{#post_single}}
              {{load_comments}}
            {{/post_single}}
          </div>
        {{/posts}}
        {{#pagination}}
        <div id='navigation'>
          <div class='page_control'>
            {{#prev_page}}
            <a class='page_left' href='{{prev_page}}'>&#8592; 最近的</a>
            <div class='page_number'>{{current_page}}</div>
            {{/prev_page}}
            {{#next_page}}
            <a class='page_right' href='{{next_page}}'>以前的 &#8594;</a>
            {{/next_page}}
          </div>
        </div>
        {{/pagination}}
      </div>
      <div id='sidebar'>
        <div id='top'>
          <div id='avatar'>
            <a href='{{url}}'>
              <img src='{{icon_180}}' />
            </a>
          </div>
          <div id='description'>
            {{desc}}
          </div>          
          
{{#is_primary}}
<!-- pages -->

{{#bool_show_pages}}
{{#has_other_pages}}
<div style="margin:10px">
<p class="sideheader"><strong>{{title}}的兴趣</strong></p>
  <p>
<div class="following">

      {{#other_pages}}
      <a href="{{url}}" title="{{title}}"><img src="{{icon_24}}" border="0"/></a>            {{/other_pages}}

</div>
</p> 
</div>
{{/has_other_pages}}
{{/bool_show_pages}}


<!-- Following -->

{{#bool_show_followers}}
<div style="margin:10px">

<p class="sideheader"><strong>关注的页面</strong></p>
  <p>
<div class="following">
{{#has_following}}
      {{#followings}}
      <a href="{{url}}"  title="{{title}}"><img src="{{icon_24}}" border="0"/></a>            {{/followings}}
      {{/has_following}}
</div>
</p> 
</div>
{{/bool_show_followers}}

</div>
{{/is_primary}}
          
          
        </div>
      </div>
    </div>
  </body>
</html>
