.item
  .logo
    %a{ :href => blog_path(blog) }<
      %img{ :src => blog.icon.url_for(:small) }
  .page_name<
    %a{ :href => blog_path(blog) }<
      = blog.title
  - if current_user and not current_user.all_blogs.include? blog
    .follow
      %a{:href => follow_toggle_blog_path(blog), :id => "tar_follow_#{blog.id}",
        :data => {:method => "POST", :remote => "true"}, :title => "关注"}
        .btn_follow
  .clear_fix
