.row
  .tag_name
    %a{href: tagged_path(tag.tag)}<
      = tag.tag
  .activity
    - 14.downto(1) do |n|
      - d = n.days.ago.strftime("%Y-%m-%d")
      .item{title: "#{d} : #{tag.activity[d]}"}<
        %div
