.row
  .tag_name
    %a{href: tagged_path(tag.tag)}<
      = tag.tag.to 12
  .activity
    - period().each do |n|
      - d = n.days.ago.strftime("%Y-%m-%d")
      .item{title: "#{d} : #{tag.activity[d]}"}<
        %div
