- content_for :content_toggle do
  - if closable
    %a.textarea_starter{ :id => "tar_tog_textarea", :href => "#", :style => (default_open ? "display:none" : "") }<
      +添加帖子描述
    %a.textarea_closer{ :id => "tar_tog_textarea_close", :href => "#", :style => (default_open ? "" : "display:none") }<
      \-关闭帖子描述
  - else
    %a.rich_editor_starter{ :href => "#", :style => (default_rich ? "display:none" : "")}<
      切换成高级编辑器
    %a.text_editor_starter{ :href => "#", :style => (default_rich ? "" : "display:none")}<
      切换成普通编辑器
- content_for :content_area do
  #box_text.text{ :style => (default_open ? "" : "display:none"), :class => (default_rich ? "text rich_text" : "text") }
    = text_area_tag :content, post.content
