- @post_type = capture do
  视频

- content_for :form do
  .title_text
    = label_tag :url, "网址"
    = text_field_tag :url, post.url
  .option_text
    %span.slight
      支持优酷、酷6、土豆视频网站的视频播放页链接，其他网站视频请输入Flash地址或HTML代码 
    %a.rich_editor_starter.slight{href: "#"}+添加描述
  .text
    =text_area_tag :content, post.content
