- @post_type ||= capture do
  音乐贴

- content_for :form do
  .option_text_top<
    &nbsp;
  .title_text.audio{'data-input-holder' => 1}
    = text_field_tag :song_id, '', :alt => '搜索歌曲，专辑，艺术家...',
      'data-widget' => 'overtext autocpl', 'autocomplete' => 'off'
  #songCmplPrompt{style: 'display: none'}
    .summary
      .song_name
        歌曲(共搜索到
        %span.total_num>
        首)
      .artist_name
        艺术家
    %ul.song_list
    .pagination
      %a.prev_page{href: "#", 'data-action' => 'turnPrevPage'} 上一页
      %a.next_page{href: "#", 'data-action' => 'turnNextPage'} 下一页
    .empty_message
      没有搜索到
      %span.search_key>
      对应的歌曲
  = content_for :content_area
