- @post_type ||= capture do
  文字贴
- should_hide_title = post.title.blank?
- content_for :form do
  %li
    = text_field_tag :title, post.title, placeholder: "标题"
  %li
    = content_for :content_area
