%ul.photos{data: {widget: 'expandAlbum'}}
  - pics_multi.photos.each_with_index do |p, index|
    - i = p.image
    %li.photo
      %img{src: i.url_for(:'150'), title: p.desc,
        data: { l: i.url_for(:large), o: i.url_for(:original), title: p.desc, }}
%p.desc!= pics_multi.content
