.article.tar_post{ class: (article_class ||= "") , :data => {:widget => 'fixHover'}}
  .avatar
    .image{style: "background:url(#{post.blog.icon.url_for(:medium)})"}<
      %a{href: blog_path(post.blog)}<
        &nbsp;
    %div<
      %a.page_name{href: blog_path(post.blog)}= post.blog.title
  .content= render_post post
