- @action = '分享'
- @post_type = capture do
  内容
= render_form(@post)
%form{id: "fetch_form", method: "post"}
  %input{type: "hidden", name: "title", value: @p[:title]}
  %input{type: "hidden", name: "url", value: @p[:url]}
  %input{type: "hidden", name: "content", value: @p[:content]}
  %input{type: "hidden", name: "imgs", value: @p[:imgs]}
:javascript
  document.addEvent('domready', function(){
  //if(!$('url_uploader_url'))return
  var arr = eval($$('[name=imgs]')[0].value)
  if(arr.length == 0)return
  var el = new Element('div', {'class':'fetch_list'}).inject($$('.textboxlist')[0], 'after')
  new Element('h2', {'html':'点图片可插到内容中'}).inject(el, 'before')
  arr.each(function(item){
  new Element('img', {src:item})
    .inject(el)
      .addEvent('click', function(){
        K.editor.execute('insertimage', false, item.trim());
      })
  })
  })
