- @sub_title = '宽墙'
- content_for :title, @sub_title

- content_for :site_layout, "site_max_size"

- css :wall
- js :wall

- content_for :content, do
  .wall
    .header
      %a.logo{href: home_path} 宽岛
    .list.store
      %ul
        = render partial: "posts/brief", collection: @posts, as: :post

  = render :partial => 'shared/footer'

