.my_pages.shrinked{data: {widget: "shrinked", trigger: ".selector"}}
  %a.selector{href: path.call(@blog)}
    = @blog.title
  - @other_blogs = @blogs.reject {|b| b == @blog}
  .selector_open
    .selector_open_head.selector
      = @blog.title
    .selector_open_menu
      - @other_blogs.each do |b|
        - if !b.primary && b.edited?(current_user)
          %div
            %a.other_blog{href: path.call(b)}<
              = b.title
    .selector_open_footer
      %a{href: new_blog_path} +新建页面
