.my_pages.shrinked{data: {widget: "shrinked", trigger: ".selector"}}
  - if @blog
    %a.selector{href: path.call(@blog)}
      .z_type{class: blog_type(@blog)}><
      .z_title><
        = @blog.title
  - else
    %a.selector.my_pages_default{href: "#"}< 
      .z_icon
      %span 我的页面
  - @other_blogs = @blogs.reject {|b| b == @blog}
  .selector_open
    - if @blog
      .selector_open_head.selector
        .z_type{class: blog_type(@blog)}><
        .z_title><
          = @blog.title
    - else
      .selector_open_head.selector.my_pages_default<
        .z_icon
        %span我的页面
    .selector_open_menu
      - @other_blogs.each do |b|
        - if !@exclude_primary || (!b.primary && b.edited?(current_user))
          %div.z_blog
            %a.other_blog{href: path.call(b)}<
              .z_type{class: blog_type(b)}><
              .z_title><
                = b.title
    .selector_open_footer
      %a{href: new_blog_path} +新建页面
