.dashboard_menu
  = blog_list
  .my_follow
    %a{ href: followings_path, title: "我关注的"}<
      %span 我关注的
  .my_collect
    %a{ href: favors_posts_path, title: "我喜欢的"}<
      %span 我喜欢的
  .my_search
    %script
      alimama_pid="mm_36046208_3482172_11359670";
      alimama_width=200;
      alimama_height=200;
    %script{ src: "http://a.alimama.cn/inf.js" }<
