.header
  %a.logo{href: fucking_root, title: "我的主页"}
  .navigator{data: {widget: "navigator", highlight: (@nav_now || "dashboard")}}<
    -# - if @has_mobile_view && is_mobile_device?
    -#   %a{href: home_path(mobile: 1)} 手机版
    - if current_user
      %a.z_dashboard{href: fucking_root}><
        我的主页
      %span><
        |    
    %a.z_buzz{ href: buzz_path, title: "回复"}><
      回复
      %span><
        - if current_user.comments_notices.unreads.count > 0
          = "("+current_user.comments_notices.unreads.count+")"
    %span><
      |    
    %a.z_messages{ href: messages_path, title: "消息"}><
      消息
      %span><
        - if current_user.messages.unreads.count > 0
          = "("+current_user.messages.unreads.count+")"
    - if current_user
      %span><
        |    
      .menu><
        %div<
          %a{href: edit_user_path(current_user)}
            我的帐户
            %span.z_more<
              &nbsp;
        %div<
          %a{href: edit_user_path(current_user)} 帐户设置
        %div<
          %a{href: "#{fucking_root}signup/#{current_user.inv_code}", data: {widget: "invite"}} 邀请好友
        %div<
          %a{href: signout_path, :data => { :confirm => "确定登出?"}} 退出
      %a.tar.z_account{href: "#"}><
        我的帐户
        %span.z_more<
          &nbsp;
    - else
      %span><
        &nbsp;
