.menu
  = blog_list
  .page_operation
    %div
      %span.icon_posts &nbsp;
      %span
        %a{href: home_path(@blog)}
          ! #{@blog.total_post_num}篇文章
    %div
      %span.icon_followed &nbsp;
      %span
        %a{href: followers_blog_path(@blog)}
          ! #{@blog.followers_count}人关注
    - if !@blog.primary && @blog.edited?(current_user)
      %div
        %span.icon_members &nbsp;
        %span
          %a{href: editors_blog_path(@blog)}
            ! 成员管理
    - if @blog.customed? current_user
      %div
        %span.icon_config &nbsp;
        %span
          %a{href: edit_blog_path(@blog)} 自定义
    -#
      %div
        %span.icon_remove &nbsp;
        %span
          %a{href: "#"} 删除
    %div
      %span.icon_view &nbsp;
      %span
        %a{href: blog_path(@blog)} 查看
