.nav_user
  .z_header
  .z_icon{style: "background-image:url(#{@user.primary_blog.icon.url_for(:medium)})"}<
    %a{href: blog_path(@user.primary_blog)}<
      &nbsp;
  - if @blog && !@blog.primary
    .z_icon_s{style: "background-image:url(#{@blog.icon.url_for(:'30')})"}<
      %a{href: home_path(@blog)}<
        &nbsp;
  .z_title
    %h1<
      = @nav_user_title
    %h2<
      = yield :nav_user_append if content_for?(:nav_user_append)
