.nav_user
  ._header
  ._icon
  ._icon_s
  ._title
    %h1
      guanzhu xx
    %a
      链接哦
  ._container
    ._following<
      %a<
        我关注的
    ._favor<
      %a<
        我喜欢的
    ._buzz<
      %a<
        回复
      %span<
        11
    ._message<
      %a<
        消息
      %span<
        999
  ._name
