- @header = @footer = "common"
- @nav_now = "account"
- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- content_for :head, do
  = stylesheet_link_tag "user"

- content_for :site_layout, "site_middle_size account"

= render :file => 'layouts/application'
