- @header = @footer = "common"
- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- css :apply

- content_for :site_layout, "site_middle_size"

= render :file => 'layouts/application'
