- @header = @footer = "common"
- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- content_for :head, do
  = stylesheet_link_tag 'post_display', 'dashboard', 'buzz'

- content_for :site_layout, "site_middle_size"

= render :file => 'layouts/application'
