- @header = @footer = "common"
- @site_layout ||= "site_middle_size"
- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- content_for :site_layout, @site_layout 

= render :file => 'layouts/application'
