- content_for :content, do
  .header
    %a.logo{href: fucking_root, title: "我的家"}
    .navigator
      %a{href: fucking_root}回我的家
  = yield
  = render :partial => 'shared/footer'

= render :file => 'layouts/application'
