- content_for :content, do
  .header
    %a.logo{href: fucking_root}
    .navigator
      %a{href: fucking_root}回我的主页
  = yield
  = render :partial => 'shared/footer'

= render :file => 'layouts/application'
