- content_for :content, do
  .header
    %a.logo{href: fucking_root, title: "我的主页"}
    .navigator
      %a{href: fucking_root}回我的主页
  .post
    = yield
  = render :partial => 'shared/footer'

  - content_for :title, (@action + @post_type.strip + "_宽岛")

- content_for :head, do
  - css "post_edit", "mooeditable", 'textboxlist'
  - js "mooeditable", "mooeditable.local", 'post_form', 'textboxlist'

= render :file => 'layouts/application'
