- content_for :content, do
  .header
    %a.logo{href: fucking_root, title: "我的家"}
    .navigator
      %a{href: fucking_root}回我的家
  .post
    = yield
  = render :partial => 'shared/footer'

  - content_for :title, (@action + @post_type.strip + "_宽岛")

- content_for :head, do
  - css :posts
  - js :posts

= render :file => 'layouts/application'
