- content_for :content, do
  .header
    %a.logo{href: fucking_root}
    .navigator
      %a{href: fucking_root}回我的主页
  .post
    = yield
  = render :partial => 'shared/footer'

  - content_for :title, (@action + @post_type.strip + "_宽岛")

- content_for :head, do
  - css "post_edit", "mooeditable"
  - js "mooeditable", "mooeditable.local"
  :javascript
    document.addEvent('domready', function(){
      K.post.init()
    });

- content_for :site_layout, "site_middle_size"

= render :file => 'layouts/application'
