- @header = @footer = "start"

- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- css :user

- content_for :site_layout, "start_page"

= render :file => 'layouts/application'
