- content_for :content, do
  = yield
  = render :partial => 'shared/footer'

- content_for :head, do
  = stylesheet_link_tag "common"

- content_for :site_layout, "site_max_size"

= render :file => 'layouts/application'
